﻿<div class="row">
    <div class="col-md-12">
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-exclamation-triangle"></i> <span id="alertTitle"> </span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
                <div class="actions">
                    <a id="saveAlertBtn" disabled="disabled" class="btn btn-default btn-sm" href="javascript:void(0);">
                        <i class="fa fa-save"></i>
                        @Language.SAVE
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" id="alertPanelBox">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


