﻿@model DocFlow.ViewModels.Alert.AlertEditModel
<div id="alertContainer">
    @if (Model.AlertModel != null)
    {
        var isCollapse = Model.AlertsActives == 0 && Model.AlertsPending == 0 && Model.AlertsValidated > 0;
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box yellow">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-exclamation-triangle"></i> <span id="alertTitle"> @Language.ALERTS (@Model.AlertsActives @Language.ACTIVES, @Model.AlertsPending Pendentes, @Model.AlertsValidated Validados)</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="@(isCollapse? "expand":"collapse")" data-original-title="" title=""> </a>
                        </div>
                        <div class="actions">
                            <a id="saveAlertBtn" class="btn btn-default btn-sm" href="javascript:void(0);" data-action="@Model.Action">
                                <i class="fa fa-save"></i>
                                @Language.SAVE
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body" @(isCollapse ? "style=display:none;" : "")>
                        <div class="row">
                            <div class="col-md-12" id="alertPanelBox">
                                <table id="alertTableInfo" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@Language.ALERT</th>
                                            @if (Model.HasSituations)
                                            {

                                                <th>@Language.ACTIVES</th>
                                                <th>@Language.PENDING</th>
                                            }


                                            <th>@Language.DETECT_DATE</th>
                                            <th>@Language.STATE</th>
                                            <th>@Language.NOTE</th>
                                            <th>@Language.USER</th>
                                            <th>@Language.ACTION_DATE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.AlertModel)
                                        {
                                            <tr>
                                                <td data-id="@item.AlertID">@Html.Raw(item.DisplayText)</td>
                                                @if (Model.HasSituations)
                                                {
                                                    <td data-id="@item.AlertID">@item.ActiveSituations</td>
                                                    <td data-id="@item.AlertID">@item.PendingSituations</td>
                                                }

                                                <td>@item.CreatedOn.ToString("dd/MM/yyyy HH:mm")</td>
                                                <td class="actionsCol">
                                                    @if (item.HasResolution)
                                                    {
                                                        @Html.EditorFor(s => item.Actions)
                                                    }
                                                    else
                                                    {
                                                        if (item.Actions.Value != null)
                                                        {
                                                            @Html.DisplayFor(s => item.Actions.Values.First(x=>x.Value == item.Actions.Value).Text)
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(s => item.Actions.Values.First().Text)
                                                        }

                                                    }

                                                </td>
                                                <td class="notesCol">
                                                    @if (item.HasResolution)
                                                    {
                                                        <input class="form-control notes" name="notes" value="@item.Notes" />
                                                    }
                                                </td>
                                                <td>@item.UserName</td>
                                                <td>@(item.ActionDate.HasValue ? item.ActionDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    }
</div>
