﻿@model List<DocFlow.ViewModels.Legend>

<div class="row">
    <div class="col-md-12">
        <h2 class="uppercase" style="display:block; padding: 0 15px 15px 15px;">@Language.SUBTITLE</h2>
        <div class="row">
           @foreach(var l in Model){
               <div class="col-md-2">
                <div style="border-left: 1px dashed #0094ff; padding: 20px;">
                    <h4 class="uppercase">@l.LegendTitle</h4>
                    <ul class="list-unstyled">
                        @foreach (var legend in l.LegendRecords)
                        {
                            <li style="margin:15px 0 15px 15px;  height: 15px; line-height: 15px;">
                                <div style='display: inline-block; margin-right:15px; width: 15px; height: 15px; background-color: @legend.Color;'> &nbsp; </div>
                                <div style="display:inline; ">@legend.Name </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
           }
        </div>
    </div>
</div>

