﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="Openlimits.pt" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/Base/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Base/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Base/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Base/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->

    <link href="~/Content/Themes/login-soft-docflow.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Metronic/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/Metronic/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/ol-red.css" rel="stylesheet" type="text/css" id="style_color" />
    <!-- END THEME STYLES -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-container-panel">
                    <div class="logo-panel">
                    </div>
                    <div class="logo-text-panel">
                        @*OpenLimits - este texto esta no CSS login-soft-metal.css*@
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        
    </div>

    <!--[if lt IE 9]>
    <script src="~/Content/Base/plugins/respond.min.js"></script>
    <script src="~/Content/Base/plugins/excanvas.min.js"></script>
    <![endif]-->

    <script src="~/Content/Base/jquery/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="~/Content/Base/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Base/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")

    }

</body>

</html>
