﻿@model DocFlow.ViewModels.DropDownListEditModel
<select class="bs-select" id="changeChartTypeSelect">
    @foreach (var option in @Model.Values)
    {
        <option value="@option.Value">@option.Text</option>
    }
</select>
