﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Language.ERROR;
}

<hgroup class="title">
    <h1 class="error">@Language.ERROR.</h1>
    <h2 class="error">@Language.ERROR_MESSAGE</h2>
</hgroup>
