﻿@model List<MVC.DomainModel.Texts.TextModel>
@{
    ViewBag.Title = "Textos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {

}
<div class="page-content">
    <h3 class="page-title">
        <i class="fa fa-building-o" style="font-size:28px;"></i> Textos <small> </small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-building-o"></i>
                <a href="@Url.Action("Text", "Table")">Textos</a>
                @*<i class="fa fa-angle-right"></i>*@
            </li>
            @*<li>
                    <i class="fa fa-search"></i>
                    <a href="#">Pesquisa</a>
                </li>*@


        </ul>
        @*<div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-fit-height @Css.GoToClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        @Language.GOTO <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="@Url.Action("New", "Job")"><i class="fa fa-plus"></i> Nova</a>
                        </li>
                    </ul>
                </div>
            </div>*@
    </div>


    <!-- BEGIN Portlet PORTLET-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @Css.SearchResultsClass " id="bs-search-results-container">
                @*<div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-file-text-o"></i>Resultados
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                        </div>
                    </div>*@
                <div class="portlet-body">

                    @(Html.EJ().Grid<MVC.DomainModel.Texts.TextModel>("FlatGrid")
            .Datasource(d => d.Json((IEnumerable<object>)Model).InsertURL("InsertText").RemoveURL("RemoveText").UpdateURL("UpdateText").Adaptor(AdaptorType.RemoteSaveAdaptor))
            .AllowPaging()
            .EnableResponsiveRow(false)
            .AllowSorting()
            .EnableAltRow()
            .PageSettings(p =>
            {
                p.PageSize(25);
            })
            .MinWidth(650)
             .ToolbarSettings(toolbar =>
             {
                 toolbar.ShowToolbar().ToolbarItems(items =>
                 {
                     items.AddTool(ToolBarItems.Add);
                     items.AddTool(ToolBarItems.Edit);
                     items.AddTool(ToolBarItems.Delete);
                     items.AddTool(ToolBarItems.ExcelExport);
                     items.AddTool(ToolBarItems.PdfExport);
                     items.AddTool(ToolBarItems.PrintGrid);
                     items.AddTool(ToolBarItems.WordExport);
                 });
             })
            .AllowSelection()
            .AllowScrolling(true)
            .AllowResizing()
            .EditSettings(f => f.AllowAdding(true).AllowDeleting(true).AllowEditing(true)
            .EditMode(EditMode.Normal))
            .ClientSideEvents(evt => evt.ToolbarClick("OnToolbarClick")
                        .ActionComplete("templateswitch"))
                        .Mappers(map => map.ExportToExcelAction(@Url.Action("ExportSearchToExcel"))
                        .ExportToPdfAction(@Url.Action("ExportSearchToPdf"))
                        .ExportToWordAction(@Url.Action("ExportSearchToWord"))).AllowFiltering()
            .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
            .Columns(col =>
            {
                col.Field("Id").HeaderText("Id").IsPrimaryKey(true).TextAlign(TextAlign.Left).Visible(false).Width(125).Add();
                col.Field("TextType").HeaderText("Tipo").EditType(EditingType.Dropdown).ValidationRules(v => v.AddRule("customCheck", true)).TextAlign(TextAlign.Left).Width("25%").Add();
                col.Field("Text").HeaderText("Descrição").Width("75%").TextAlign(TextAlign.Left).Add();
            }))
                    @Html.EJ().ScriptManager()
                </div>
            </div>



            <!-- END Portlet PORTLET-->
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function OnToolbarClick(args) {
            if (args.itemName.indexOf("Export") > -1) {
                var gridInstance = $("#FlatGrid").ejGrid('instance')
                for (var i = 0; i < this.model.columns.length; i++) {
                    if (!IsNullOrEmpty(this.model.columns[i].template)) {
                        this.model.columns[i].template = '';
                    }
                }
                this.model["GridDataSource"] = JSON.stringify(gridInstance._dataSource()).removeHtml();
            }
        }

        function templateswitch(args) {
            if (args.requestType == "beginedit" || args.requestType == "add") {
                //var temp = $.templates(template2)
                $("#TextType").ejDropDownList();
                var datarow = args.requestType == "add" ? args.data : args.rowData;//get the row data
                //$("#FlatGridEditForm").html(temp.render(datarow));
                if (args.requestType == "beginedit") {
                    $("#TextType").ejDropDownList("setSelectedValue", datarow.TextType);
                }
                $("#InlineEditForm_FlatGrid_Save").val("Confirmar");
            }
        }

        $.validator.addMethod("customCheck", function (value, element, params) {
            return IsNullOrEmpty(element.value) != params;
        }, "O tipo é obrigatório.");
    </script>
    
}


