﻿@model DocFlow.ViewModels.Services.ServiceSearchRecord

@{
    ViewBag.Title = "Novo Serviço";
}


<div class="page-content">
    <h3 class="page-title">
        <i class="fa fa-building-o" style="font-size:28px;"></i> Novo Serviço <small> </small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-building-o"></i>
                <a href="@Url.Action("Search", "Services")">Serviços</a>

            </li>
        </ul>
        @*<div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-fit-height @Css.GoToClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        @Language.GOTO <i class="fa fa-angle-down"></i>
                    </button>
                    @*<ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="@Url.Action("Models", "Table")"><i class="fa fa-plus"></i> Nova</a>
                            </li>
                        </ul>
                </div>
            </div>*@
    </div>


    <!-- BEGIN Portlet PORTLET-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @Css.SearchParamsClass" id="search-inputs-pnl">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search"></i>@Language.NEW
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        @using (Html.BeginForm("Save", "Services", FormMethod.Post, new { @class = "horizontal-form", @id = "bs-SingleSearchForm" }))
                        {
                            <input type="hidden" id="Id", name="Id" value="@Model.Id" />
                            <div id="bs-single-search-params-container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label">Código</label>
                                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @placeholder = "Código" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label">Nome</label>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Nome" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label">Base de Dados</label>
                                            @Html.TextBoxFor(m => m.Database, new { @class = "form-control", @placeholder = "Base de Dados" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-actions left " style="background-color:#fff;">
                        <button type="button" id="bs-submit-btn" class="btn purple">@Language.SAVE</button>
                        <button type="button" id="bs-clean-btn" class="btn red-stripe default">@Language.CLEAN</button>
                    </div>

                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    </div>
</div>


@section Scripts {


    <script src="~/Scripts/Services/services.new.js"></script>
    <script>
        jQuery(document).ready(function () {
            ServicesNew.init();
        });
    </script>
}


