﻿@model  List<DocFlow.ViewModels.Job.SketchImages>
<script id="thumbSectionScript" type="text/template">
    <table>
        <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>
                    Página
                </th>
                <th>
                    CAD/CAM
                </th>
                <th>
                    C & L
                </th>
                <th>
                    ACR
                </th>
                <th>
                    SRLH
                </th>
                <th>
                    TELAS
                </th>
                <th>
                    LAT
                </th>
                <th>
                    MONT
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (DocFlow.ViewModels.Job.SketchImages item in Model)
            {
                <tr>
                    <td align="left">
                        <img src="@item.Image" />
                    </td>
                    @for (int i = 0; i < 7; i++)
                    {
                        <td align="center">
                            @Html.EJ().CheckBox("Checkbox_" + item.Order.ToString() + "_" + i.ToString()).CssClass("nodetext").Size(Size.Medium).Text("Music").Value("Music")
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</script>
@(Html.EJ().Grid<object>("thumbSectionGrid").Datasource(ds => { ds.Table("#thumbSectionScript"); }).AllowSelection(false))
