/***
Login page
***/
/* logo page */
html {
    background: url(/Content/Themes/img/loginbg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body.login {
    height: 100% !important;
    background-color: transparent !important;
}

div.content {
    height: 100% !important;
    background-color: rgba(72, 72, 72, 0.15) !important;
    margin-left: 15% !important;
    padding-top: 0 !important;
}

form.login-form {
    /*height: 100% !important;*/
    position: absolute !important;
    /*padding-top: 10% !important;*/
    width: 295px;
}
.logo-text-panel {
    color: white;
    font-size: xx-large;
    font-family: &quot;Open Sans&quot;, sans-serif;
    font-weight: 600;
    text-align:center;
    position:relative;
    /*margin-top: 5%;*/
    /*position: fixed;*/
}
.logo-container-panel{
    position:relative;
    height:200px;
    padding: 20% 0;
}
.logo-panel {
    display:block;
    background: url(/Content/Themes/img/vf-logo.png) no-repeat;
    background-size: 85px;
    position:relative;
    width:85px;
    height:85px;
    margin: 0 auto;
}

.login {
  background-color: #666 !important;
}

.login .logo {
  margin: 60px auto 20px auto;
  padding: 15px;
  text-align: center;
}

.login .content {
  /*background: url(../img/bg-white-lock.png) repeat;*/
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

.login .content h3 {
  color: #eee;
}

.login .content h4 {
  color: #eee;
}

.login .content p,
.login .content label {
  color: #fff;
}

.login .content .login-form,
.login .content .forget-form {
  /*padding: 0px;
  margin: 0px;*/
    padding: 0;
    margin: 0px;
    position: relative !important;
    margin: 0 auto;
    display: block;
    width: 295px;
}

.login .content .form-control {
  background-color: #fff;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.login .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0px;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 25px;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0px -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.login .content .has-error .select2-container i {
  color: #b94a48;
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #eee;
  font-size: 13px;
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px;
  }

  .login .content {

    /*padding: 30px;
    width: 222px;*/
    width:100%;
    height:100%;
    margin:0 !important;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}
