﻿@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    <!-- BEGIN PAGE LEVEL STYLES -->
  <link href="~/Content/Themes/error.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLES -->
}


<div class="page-content">

    <div class="page-404">
        <div class="number">
            404
        </div>
        <div class="details">
            <h1><strong>Oops !</strong></h1>
            
            <p>
                <h4>
                    @DocFlow.Globalization.Language.NOT_FOUND_MESSAGE <br />
                </h4>
            </p>
            <p>
                <a href="/">
                    <h4>@DocFlow.Globalization.Language.BACK_TO_HOME_LINK</h4>
                </a>
            </p>
        </div>
    </div>
    


</div>


