﻿
@{
    ViewBag.Title = "Cal2";
}

<link href="~/Content/Themes/doctor.css" rel="stylesheet" />

<style>
    .e-schedule .e-monthappointment {
        height: 39px;
    }
</style>

<script>

    function _appointmentColor(val1) {
        return val1;
    }

    function _appointmentColors(val1) {
        return val1;
    }
    /* Appointment Time */
    function _timeformat(time1, time2) {
        var tFormat = ej.format(new Date(time1), "HH:mm") + " - " + ej.format(new Date(time2), "HH:mm");
        return tFormat;
    }

    $.views.helpers({
        appColor: _appointmentColor,
        appColors: _appointmentColors,
        //appoint: _appointImages,
        //doctor: _doctorDesignation,
        apptime: _timeformat,
        //appcolor: _color,
        //appbgm: _appcolor,
        //lineheight: _height,
        //resimages: _resourceImages,
        //format: _getResources
    });




    function onNavigation(args) {
        var periodDate = args.currentDate.toJSON();
        var periodType = 3;

        switch (args.currentView) {
            case 'week':
                periodType = 2;
                break;
            case 'day':
                periodType = 1;
                break;
            case 'month':
                periodType = 3;
                break;
            default:
        }


        Loading();
        $.ajax({
            type: "GET",
            url: '/Example/GetScheduleDatasources',
            data: { periodDate: periodDate, periodType: periodType },
            success: function (data) {
                if (data != null) {

                    window.ListItems = data[0].Value;
                    $("#Commercials").trigger('change');
                    if (data[1].Value != null && data[1].Value.length > 0) {
                        for (var i = 0; i < data[1].Value.length; i++) {
                            data[1].Value[i].EndTime = Utils.JsonToDateTime(data[1].Value[i].EndTime);
                            data[1].Value[i].StartTime = Utils.JsonToDateTime(data[1].Value[i].StartTime);
                        }
                    }
                    $("#DoctorSchedule").ejSchedule({

                        appointmentSettings: { dataSource: data[1].Value }
                    });

                }
                StopLoading();
            },
            error: function (error) {
                StopLoading();
            }
        });
    }
</script>


<div class="page-content">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label class="control-label">Comercial</label>
                        <select class="form-control bs-select" id="Commercials">
                            <option value="">Todos</option>
                            @foreach (var item in ViewBag.Commercials)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }

                        </select>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="checkbox-list">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="HasWeek" name="HasWeek">
                            Com Semana
                        </label>

                    </div>

                    @*<select class="form-control bs-select" id="weekselect">
                            <option value="1">Com Semana Atribuída</option>
                            <option value="0">Sem Semana Atribuída</option>
                        </select>*@
                </div>
                <div class="col-md-6">

                    <div class="checkbox-list">

                        <label class="checkbox-inline">
                            <input type="checkbox" id="WithoutWeek" name="WithoutWeek">
                            Sem Semana
                        </label>
                    </div>

                </div>
            </div>


            @*@Html.EJ().ListBox("selectExperts").AllowDrag(true).Datasource((IEnumerable<DocFlow.Controllers.CalendarItem>)ViewBag.itensDatasource).Template(" <div id='waiting'> <div id='waiticon'><div class='fa fa-ellipsis-v'></div></div><div id='waitid'>11</div><div id='waitdetails'><div id='waitlist'>Steven</div><div id='waitcategory'>GENERAL - consulting</div></div><div id='waitcategoryicon'><i class='fa fa-circle' style='color:#9A32CD'></i></div></div>")*@


            <div class="waitinglist">
                @*<div class="waitinglistheader">
                        <div class="headertext">WAITING LIST</div>
                        <span class="headtitle">Drag and drop the below items</span>
                    </div>*@
                @*<div class="waitinglistcontent">
                    <div class="waitingapplist">*@
                <ul id="upcomming"></ul>
                @*</div>
                    </div>*@

            </div>


            @*<div class="e-droppable" style="width: 100%; height: 100%;">
                <input id="upcomming_hidden" type="hidden" name="upcomming" value="">
                <ul id="upcomming" class="e-listbox e-js e-ul" tabindex="" unselectable="on" style="user-select: none; cursor: pointer;" aria-expanded="true">
                    <li class="e-draggable e-droppable e-js waitinglistli" tabindex="">
                        <div id="waiting">
                            <div id="waiticon">
                                <div class="fa fa-ellipsis-v">
                                </div>
                            </div>
                            <div id="waitid">11</div>
                            <div id="waitdetails">
                                <div id="waitlist">Steven</div>
                                <div id="waitcategory">GENERAL - consulting</div>
                            </div>
                            <div id="waitcategoryicon">
                                <i class="fa fa-circle" style="color:#9A32CD"></i>
                            </div>
                        </div>
                    </li>
                    <li class="e-draggable e-droppable e-js waitinglistli" tabindex="">
                        <div id="waiting">
                            <div id="waiticon">
                                <div class="fa fa-ellipsis-v">
                                </div>
                            </div>
                            <div id="waitid">11</div>
                            <div id="waitdetails">
                                <div id="waitlist">Steven</div>
                                <div id="waitcategory">GENERAL - consulting</div>
                            </div>
                            <div id="waitcategoryicon">
                                <i class="fa fa-circle" style="color:#9A32CD"></i>
                            </div>
                        </div>
                    </li>
                    <li class="e-draggable e-droppable e-js waitinglistli" tabindex="">
                        <div id="waiting">
                            <div id="waiticon">
                                <div class="fa fa-ellipsis-v">
                                </div>
                            </div>
                            <div id="waitid">11</div>
                            <div id="waitdetails">
                                <div id="waitlist">Steven</div>
                                <div id="waitcategory">GENERAL - consulting</div>
                            </div>
                            <div id="waitcategoryicon">
                                <i class="fa fa-circle" style="color:#9A32CD"></i>
                            </div>
                        </div>
                    </li>
                    <li class="e-draggable e-droppable e-js waitinglistli" tabindex="">
                        <div id="waiting">
                            <div id="waiticon">
                                <div class="fa fa-ellipsis-v">
                                </div>
                            </div>
                            <div id="waitid">11</div>
                            <div id="waitdetails">
                                <div id="waitlist">Steven</div>
                                <div id="waitcategory">GENERAL - consulting</div>
                            </div>
                            <div id="waitcategoryicon">
                                <i class="fa fa-circle" style="color:#9A32CD"></i>
                            </div>
                        </div>
                    </li></ul>*@
            @*</div>*@
        </div>
        <div class="col-md-9">
            @(Html.EJ().Schedule("DoctorSchedule").Width("100%").Height("800px")
               //.CellWidth("50px")
               .Orientation(Orientation.Vertical).TimeScale(t => t.Enable(false))
                .CurrentView(CurrentView.Week)
                .Views(new List<string> { "day", "week", "month" })
                //.ShowAppointmentNavigator(false)
                //.ShowQuickWindow(false)
                //.StartHour(7)
                //.EndHour(23)
                //.TimeZone("UTC -08:00")
                
                .TimeMode(TimeMode.Hour24)
                .TimeZoneInfo(TimeZoneInfo.Local)
                .TimeZone("UTC +00:00")
                .AppointmentTemplateId("#calendartemplate")
                    .IsResponsive(true).ScheduleClientSideEvents(e => e.Navigation("onNavigation").DragStop("onScheduleDragStop").CellClick("stopEvt").CellDoubleClick("stopEvt").AppointmentClick("stopEvt").BeforeAppointmentRemove("stopEvt").ResizeStart("stopEvt"))
                    .Locale("pt-PT")
                    .CurrentDate(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day))
                     .AppointmentSettings(fields => fields.Datasource(ViewBag.appointmentsds)
                    .Id("Id")
                    .Subject("Code")
                    .StartTime("StartTime")
                    .EndTime("EndTime")
                    .Description("CustomerName")
                    .AllDay("AllDay"))
            //.ResourceHeaderTemplateId("#resTemplate")
            //.AppointmentTemplateId("#doctortemplate")
            //.TooltipSettings(tip => tip.Enable(true).TemplateId("#tooltipTemp"))
            //.Group(gr => gr.Resources(new List<string> { "Rooms", "Owners" }))
            //.Resources(res =>
            //{
            //    res.Field("RoomId").Title("Room").Name("Rooms").AllowMultiple(false)
            //       .ResourceSettings(flds => flds.Datasource(ViewBag.departmentName).Text("Text").Id("Id").GroupId("GroupId").Color("Color")).Add();
            //    res.Field("OwnerId").Title("Owner").Name("Owners").AllowMultiple(true)
            //        .ResourceSettings(flds => flds.Datasource(ViewBag.doctorName).Text("text").Id("Id").GroupId("GroupId").Color("Color")).Add();
            //})
            //.AppointmentSettings(fields => fields.Datasource(ViewBag.hospitaldata)
            //    .Id("Id")
            //    .Subject("Subject")
            //    .StartTime("StartTime")
            //    .EndTime("EndTime")
            //    .Description("Description")
            //    .AllDay("AllDay")
            //    .Recurrence("Recurrence")
            //    .RecurrenceRule("RecurrenceRule")
            //    .ResourceFields("RoomId,OwnerId"))
            //.ScheduleClientSideEvents(eve => eve.AppointmentWindowOpen("onAppointmentWindowOpen").Navigation("OnNavigation").QueryCellInfo("onQueryCellInfo").ActionComplete("onCustomization"))
            )
        </div>
    </div>
</div>

<script>

      @if(ViewBag.ListItems != null)
      {
                  <text> window.ListItems = JSON.parse('</text>@Html.Raw(ViewBag.ListItems)<text>');</text>
              }

    //window.waitinglist = [];
    //window.waitinglist.push({ Id: 11, Subject: "Tarefa 1", Department: "Semana 20", Week:1, Category: "Jorge Melo", Categorycolor: "#ff000f", CommercialId: 1 });
    //window.waitinglist.push({ Id: 11, Subject: "Tarefa 2", Department: "Sem Semana", Week:0, Category: "Pedro Ferreira", Categorycolor: "#ff000f", CommercialId: 2 });
    //window.waitinglist.push({ Id: 11, Subject: "Tarefa 3", Department: "Semana 19", Week:1, Category: "Bruno Figueiredo", Categorycolor: "#ff000f", CommercialId: 3 });
    //window.waitinglist.push({ Id: 22, Subject: "Tarefa 4", Department: "Sem Semana", Week:0, Category: "Pedro Ferreira", Categorycolor: "#0ff00f", CommercialId: 2 });
    //window.waitinglist.push({ Id: 33, Subject: "Tarefa 5", Department: "Semana 18", Week:1, Category: "Jorge Melo", Categorycolor: "#00ff0f", CommercialId: 1 });
    //window.waitinglist.push({ Id: 44, Subject: "Tarefa 6", Department: "Sem Semana", Week:0, Category: "Bruno Figueiredo", Categorycolor: "#000fff", CommercialId: 3 });
    //window.waitinglist.push({ Id: 44, Subject: "Tarefa 7", Department: "Semana 21", Week:1, Category: "Pedro Ferreira", Categorycolor: "#000fff", CommercialId: 2 });
    //window.waitinglist.push({ Id: 44, Subject: "Tarefa 8", Department: "Sem Semana", Week:0, Category: "Jorge Melo", Categorycolor: "#000fff", CommercialId: 1 });
    //window.waitinglist.push({ Id: 44, Subject: "Tarefa 9", Department: "Semana 20", Week:1, Category: "Jorge Melo", Categorycolor: "#000fff", CommercialId: 1 });


    $("#Commercials,#WithoutWeek,#HasWeek").on('change', function () {

        //var tt = $("#upcomming").ejListBox("instance")
        //tt.destroy();
        var idComer = $("#Commercials").val();
        var idweek = null;

        var ww = $("#WithoutWeek").prop("checked");

        var hw = $("#HasWeek").prop("checked");

        if (ww != hw) {
            if (ww == true)
                idweek = false;
            if (hw == true)
                idweek = true;
        }


        var ds = [];

        for (var i = 0; i < window.ListItems.length; i++) {
            if ((window.ListItems[i].CommercialId == idComer || idComer == "") && (window.ListItems[i].HasWeek == idweek || idweek == null))
                ds.push(window.ListItems[i]);
            }



        var tt = $("#upcomming").ejListBox("instance")
        $("#upcomming").ejListBox("option", { dataSource: ds });
        tt.refresh();
        $("#upcomming").children().addClass("waitinglistli");
    });

    $("#upcomming").ejListBox({
        width: "100%",
        height: "690px",
        dataSource: window.ListItems,
        fields: { text: "Subject" },
        allowDragAndDrop: true,
        select: "onListClick",
        itemDrag: "onNodeDragging",
        itemDragStop: "onDragStop",
        template: "<div id='waiting'><div id='waiticon'><div class='fa  fa-ellipsis-v'></div></div>" +
        "<div id='waitdetails'><div id='waitlist'>${Code} ${CommercialAbrv} ${WeekAbrv}</div><div id='waitcategory'>${CustomerName}</div>  <div id='waitcategory'>${Company}  ${Local}</div>  </div><div id='waitcategoryicon'><i class='fa fa-circle' style='color:${Color}'></i></div></div>"
    });

    $("#upcomming").children().addClass("waitinglistli");

    /* Waitinglist Customization */
    function onWaitingList() {
        $("#upcomming_container").css("border", "none");
        $("#upcomming").children().addClass("waitinglistli");
        $("#upcomming_container").find(".e-vscrollbar").remove();
        $("#upcomming").parent().css("width", "100%");
    }



    /* Listbox Node Dragging */
    function onNodeDragging(args) {
        //$("#DoctorSchedule").find(".e-tooltip-wrap").css("display", "none");
        var cloneElement = $(args.items[0].event.element[0].children).clone();
        cloneElement.find("#waitid,#waitlist,#waitcategory,.icon-waiticon").css({ color: "#fff" });
        $(".dragClonelist").html("");
        $(".dragClonelist").removeAttr("id");
        $(".dragClonelist").append($(cloneElement));
        $(".dragClonelist").removeClass("icon-waiticon");
        if ($(args.target).hasClass("e-workcells") && !$(args.target).hasClass("e-resourceheadercells")) {
            var schObj = $("#DoctorSchedule").ejSchedule('instance');
            schObj._workCellIndex = $(args.target).parent().index();
            //var temp = schObj._getResourceDetails($(args.target), $(args.target).index());
            //(args.items[0].data.RoomId == temp[1].id) ? $(args.target).css("cursor", "default") : $(args.target).css("cursor", "no-drop");
            if ($(".rightcol").is(":visible") && window.innerWidth < 768) {
                $(".rightcol").toggle();
                $("#righticon").css("right", "0px");
                $("#righticon").children().addClass("icon-left").removeClass("icon-right");
            }
        }
        if ($(args.target).hasClass("e-resourceheadercells")) {
            $(args.target).css("cursor", "no-drop");
            var trgtIndex = $(args.target).parent().index();
            if (trgtIndex == 0 || trgtIndex == 7) {
                if ($($(".e-resourceheadertable tr")[trgtIndex]).find(".e-parentnodecategory").hasClass("e-resourceexpand")) {
                    $($(".e-resourceheadertable tr")[trgtIndex]).find(".e-parentnodecategory").click();
                }
            }
        }
        $(args.target).hasClass("e-appointment") && $(args.target).css("cursor", "no-drop");
    }

    function onListClick(args) {
        window.list = true;
        $("#waitid,#waitlist,#waitcategory,.icon-waiticon").removeClass("hovercolor");
        $(args.item).find("#waitid,#waitlist,#waitcategory,.icon-waiticon").addClass("hovercolor");
    }

    function onDragStop(args) {

        if ($(args.target).parents(".e-schedule").length != 0) {
            var scheduleObj = $("#DoctorSchedule").data("ejSchedule");
            //var result = scheduleObj.getSlotByElement($(e.target));
            //// set value to custom appointmnt window fields
            //$("#subject").val(e.droppedElementData.text);
            //$("#customdescription").val(e.droppedElementData.text);
            //$("#StartTime").ejDateTimePicker({ value: new Date(result.startTime) });
            //$("#EndTime").ejDateTimePicker({ value: new Date(result.endTime) });
            //$("#resource").val(result.resources.text);
            //$("#ownerId").val(result.resources.id);
            //$("#customWindow").ejDialog("open");
            var result = scheduleObj.getSlotByElement($(args.target));


            var obj = {};
            obj['Subject'] = args.items[0].data.Subject;

            obj['Description'] = args.items[0].data.Department;
            obj['StartTime'] = new Date(result.startTime)
            obj['EndTime'] = new Date(result.endTime)
            obj['CommercialAbrv'] = args.items[0].data.CommercialAbrv;
            obj['Code'] = args.items[0].data.Code;
            obj['CustomerName'] = args.items[0].data.CustomerName;
            obj['State'] = args.items[0].data.State;
            obj['WeekAbrv'] = args.items[0].data.WeekAbrv;
            obj['Company'] = args.items[0].data.Company;
            obj['Local'] = args.items[0].data.Local;
            obj['Color'] = args.items[0].data.Color;
            obj['Id'] = args.items[0].data.Id;
            obj['AllDay'] = true;



            //obj['OwnerId'] = '2';
            //obj['Resource'] = '255';

            //  obj['Dock'] = scheduleObj._getResourceValue($(e.target)).Id;

            scheduleObj.saveAppointment(obj);

            Loading();
            $.ajax({
                type: "GET",
                url: '/Example/UpdateScheduleItem',
                data: { Date: result.startTime.toJSON(), Id: args.items[0].data.Id },
                success: function (data) {

                    StopLoading();
                },
                error: function (error) {
                    StopLoading();
                }
            });


            for (var i = 0; i < window.ListItems.length; i++) {
                if (window.ListItems[i].Id == args.items[0].data.Id){
                    window.ListItems.splice(i, 1);
                    $("#Commercials").trigger('change');
                    return;
                }
            }





        }


        //if ($(args.target).hasClass("e-workcells")) {
        //    var schObj = $("#DoctorSchedule").ejSchedule('instance');
        //    schObj._workCellIndex = $(args.target).parent().index();
        //    $(args.target).click();
        //    var resDetails = schObj._getResourceDetails($(args.target), $(args.target).index());
        //    if ((args.items[0].data.RoomId == resDetails[1].id)) {
        //        var dropAppointment = $.extend(true, {}, args.items[0].data);
        //        dropAppointment[schObj._appointmentSettings["startTime"]] = new Date(schObj.cur_StartTime);
        //        dropAppointment[schObj._appointmentSettings["endTime"]] = new Date(schObj.cur_EndTime);
        //        dropAppointment[schObj._appointmentSettings.resourceFields.split(",")[1]] = resDetails[0].id;
        //        var schArgs = [{ appointment: dropAppointment, edit: true, type: "appointmentWindowOpen", model: schObj.model, cancel: false }];
        //        window.drop = true;
        //        onAppointmentWindowOpen(schArgs[0]);
        //    }
        //}
        //$("#DoctorSchedule").find(".e-workcells").css("cursor", "default");
        //$("#DoctorSchedule").find(".e-appointment").css("cursor", "default");
    }

    function onScheduleDragStop(args) {

        Loading();
        $.ajax({
            type: "GET",
            url: '/Example/UpdateScheduleItem',
            data: { Date: args.appointment.StartTime.toJSON(), Id: args.appointment.StartTime.Id },
            success: function (data) {

                StopLoading();
            },
            error: function (error) {
                StopLoading();
            }
        });

        

    }

    function stopEvt(e) {

        e.cancel = true;
    }

</script>

<script id="calendartemplate" type="text/x-jsrender">
    <div style="width:100%;height:120px;background:{{:~appColor(Color)}}>
        @*<div style="width:30px;height:90px;float:left;text-align:center;font-weight:bolder;background-color:{{:~appColors(Color)}};line-height:30px">{{:CommercialAbrv}}</div>*@
        <div style="margin-left:5px;float:left;width:100%;height:100%;">
            <div id="appsubject" style="font-weight:700;">{{:Code}} {{:CommercialAbrv}} - {{:WeekAbrv}}</div>
            <div id="appsubject">{{:CustomerName}}</div>
            <div id="appsubject">{{:Company}} {{:Local}} - {{:WeekAbrv}}</div>
            @*<div id="apptime">{{:~apptime(StartTime, EndTime)}}</div>*@
        </div>
        <div class='icon-{{:State}}' style='float:right;width:15%;height:100%;padding-top:7px;'></div>
    </div>
</script>
<!-- Appointment Tooltip -->
@*<script id="tooltipTemp" type="text/x-jsrender">
        <div id="tooltip" style="width:250px;">
            <div style='float:left;width:80%;height:100%;padding-left:10px;padding-bottom:5px;'>
                <div style="padding:2px;"><span class="temphead">Reason: </span><span class="temp">{{:Description}}</span></div>
                <div style="padding:2px;"><span class="temphead">From: </span><span class="temp">{{:StartTime.toLocaleString()}}</span></div>
                <div style="padding:2px;"><span class="temphead">To: </span><span class="temp">{{:EndTime.toLocaleString()}}</span></div>
            </div>
            <div style='float:left;width:20%;height:100%;padding-top:5px;'>{{:~format(OwnerId,"image")}}</div>
        </div>
    </script>*@