﻿@{
    ViewBag.Title = "Secção";
}

<div class="page-content" id="content">
    <h3 class="page-title">
        <i class="fa fa-book" style="font-size:28px;"></i> Atribuição <small> </small>
    </h3>

    @(Html.EJ().Kanban("Kanban")
    .DataSource((IEnumerable<object>)ViewBag.Datasource)
    .Columns(col =>
    {
        col.HeaderText("Para Produção").Key("Open").Add();
        col.HeaderText("Planeado").Key("seg").Add();
        col.HeaderText("Em Execução").Key("qua").Add();
        col.HeaderText("Concluído").Key("qui").Add();
        //col.HeaderText("Sexta").Key("sex").Add();

    })
    .AllowTitle(true)
    .AllowSelection(false)
    .KeyField("Column")

    //.SwimlaneSettings(swimSettings =>
    //{
    //    swimSettings.AllowDragAndDrop(true);
    //})
    .Fields(field =>
    {
        field.Color("Color")
            .Title("Title")
            .Content("Description")
            .ImageUrl("ImgUrl")
            .PrimaryKey("Id");
        //.SwimlaneKey("Row");
    })
    .ClientSideEvents(eve =>
    {
        eve.CardDrop("cardDrop").ActionBegin("begin").CardDragStart("dragstart").CardDragStop("dragstop");
    })
    )
</div>


<div id="modal-atribution" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                Atribuição
            </div>
            <div class="modal-body">
                <div class="clearfix"></div>
                <div class="horizontal-form" id="form-atribution">

                    <div class="form-body">
                       
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group" id="atribution-list">

                                    <li class="list-group-item">
                         <img src="~/Content/Themes/img/avatar4.jpg" />
                                        <span style="font-size: x-large; vertical-align: middle; margin-left: 15px;">Jorge Silva</span>
                                    </li>
                                    <li class="list-group-item">
                                        <img src="~/Content/Themes/img/avatar3.jpg" />
                                        <span style="font-size: x-large; vertical-align: middle; margin-left: 15px;">Manuel Fernandes</span>
                                    </li>
                                    <li class="list-group-item">
                                     <img src="~/Content/Themes/img/avatar2.jpg" />
                                        <span style="font-size: x-large; vertical-align: middle; margin-left: 15px;">Carla Antunes</span>
                                    </li>
                                    <li class="list-group-item">
                                  <img src="~/Content/Themes/img/avatar1.jpg" />
                                        <span style="font-size: x-large; vertical-align: middle; margin-left: 15px;">Diogo Ferreira</span>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions ">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn green" id="save-atribution">Gravar</button>
                                <button type="button" class="btn default" id="cancel-exclusions">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.EJ().RadialMenu("defaultradialmenu").ImageClass("e-radial").TargetElementId("content").Items(items
    =>
    {
        items.Add().ImageURL(Url.Content("~/Content/Themes/img/avatar4.jpg")).Text("Bold").Click("bold");
        items.Add().ImageURL(Url.Content("~/Content/Themes/img/avatar3.jpg")).Text("Italic").Click("italic");
        items.Add().ImageURL(Url.Content("~/Content/Themes/img/avatar2.jpg")).Text("Redo").Click("redo").Enabled(false);
        items.Add().ImageURL(Url.Content("~/Content/Themes/img/avatar1.jpg")).Text("Undo").Click("undo").Enabled(false);
    })

@section Scripts{
    <script type="text/javascript">
        function evtpropscheckedevent(args) {
            var kanbanObj = $("#Kanban").data("ejKanban");
            if (args.isChecked && kanbanObj != undefined) {
                switch (args.value) {
                    case "cardDrop":
                        kanbanObj.option(args.value, "cardDrop");
                        break;
                }
            } else kanbanObj.option(args.value, '');
        }
        function cardDrop(args) {
            //  debugger;
            // var srcCol = window.KanbanData[args.data[0].Id].Column;
            var srcCol = window.KanbanData["ColStart_" + args.data[0].Id.toString()];
            var destCol = args.data[0].Column;

            if (destCol == "seg" && !IsNullOrEmpty(srcCol) && srcCol != "seg") {
                $("#atribution-list .list-group-item").removeClass("active");
                $("#modal-atribution").modal("show");
            }

            if (destCol == "Open" && !IsNullOrEmpty(srcCol) && srcCol != "Open") {

                var kanbanObj = $("#Kanban").data("ejKanban");
                var datasource = kanbanObj.getCurrentJsonData();
                for (var i = 0; i < datasource.length; i++) {
                    if (datasource[i].Id == args.data[0].Id) {
                        datasource[i].ImgUrl = null;
                        kanbanObj.refresh();
                      
                        return;
                    }
                }

                //// Get Updated datasource
                //var datasource = kanbanObj.getCurrentJsonData();
                //for (var i = 0; i < datasource.length; i++) {
                //    if (datasource[i].Id == window.KanbanData.CurrentID) {
                //        datasource[i].ImgUrl = $("#atribution-list .list-group-item.active img").attr("src");
                //        kanbanObj.refresh();
                //        $("#modal-atribution").modal("hide");
                //        return;
                //    }
                //}
            }
            //console.log(args.data[0].Column);
            //console.log("sss");
            //console.log(srcCol);
        }

        function begin(args) {
            //if (args.requestType == "drop") {
            //    var srcCol = window.KanbanData[args.data[0].Id].Column;
            //    var destCol = args.data[0].Column;

            //    if (destCol == "seg" && !IsNullOrEmpty(srcCol) && srcCol != "seg") {
            //        $("#modal-exclusions").modal("show");
            //    }

            //}

        }

        function dragstart(args) {
            if (IsNullOrEmpty(window.KanbanData)) {
                window.KanbanData = {};
            }

            window.KanbanData["ColStart_" + args.data[0][0].Id.toString()] = args.data[0][0].Column;
            window.KanbanData.CurrentID = args.data[0][0].Id;
        }

        //function dragstop(args) {
        //    if (args.data.length > 0) {
        //        debugger;
        //    }
        //    console.log("dragStop" + (new Date()).getUTCMilliseconds().toString());

        //}

        $("#save-atribution").on('click', function () {
            // Create Kanban Object
            var kanbanObj = $("#Kanban").data("ejKanban");

            // Get Updated datasource
            var datasource = kanbanObj.getCurrentJsonData();
            for (var i = 0; i < datasource.length; i++) {
                if (datasource[i].Id == window.KanbanData.CurrentID) {
                    datasource[i].ImgUrl = $("#atribution-list .list-group-item.active img").attr("src");
                    kanbanObj.refresh();
                    $("#modal-atribution").modal("hide");
                    return;
                }
            }

        });

        $("#atribution-list .list-group-item").on('click', function () {
            $("#atribution-list .list-group-item").removeClass("active");
            $(this).addClass("active");
        });
    </script>
}