﻿@{
    ViewBag.Title = "SectionTable";
}

<div class="page-content">
    <h3 class="page-title">
        <i class="fa fa-book" style="font-size:28px;"></i> Exemplo <small> </small>
    </h3>
    <style>
        .fill-width {
            width: 100%;
        }

            .fill-width a {
                text-align: left;
            }

            .fill-width.active {
                background-color: #3598dc;
            }

                .fill-width.active a {
                    background-color: #3598dc !important;
                }

                .fill-width.active:hover {
                    background-color: #217ebd;
                }

                    .fill-width.active:hover a {
                        background-color: #217ebd !important;
                    }

                .fill-width.active a :hover {
                    background-color: #217ebd !important;
                }
    </style>


    @section Style {
        <!-- BEGIN PAGE LEVEL STYLES -->
        <!-- END PAGE LEVEL STYLES -->
        <!-- MARTELADA GRELHA LINHAS -->
        <style>
            #FlatGridEditForm div {
                display: block !important;
            }

            .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                position: relative;
                min-height: 1px;
                padding-right: 15px !important;
                padding-left: 15px !important;
            }
        </style>
    }


    <div class="row">

        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width ">
                    <a href="/Example/PartCreationDetails">
                        Caracterização <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width active">
                    <a href="/Example/PartCreationSection">
                        Secções <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        @*<div class="col-md-2">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="#">
                        Especificações <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>*@

        @*<div class="col-md-2">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="#">
                        Ordens de Fabrico <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>*@

        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="/Example/PartCreationDraw">
                        Desenhos <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>


        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="/Example/PartCreationMaterial">
                        Materiais <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            @(Html.EJ().Grid<List<MVC.DomainModel.Parts.SectionGrid>>("Editing")
        .Datasource(ds => ds.Json((IEnumerable<object>)ViewBag.Datasource))//UpdateURL("InlineUpdate").InsertURL("InlineInsert").RemoveURL("InlineDelete").Adaptor(AdaptorType.RemoteSaveAdaptor)
        .EnableAltRow()
        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.InlineFormTemplate).InlineFormTemplateID("#template"); })
             .ClientSideEvents(evt => evt.ActionComplete("actionComplete").ActionBegin("beforeSave"))
        .AllowPaging()

        .ToolbarSettings(toolbar =>
        {
            toolbar.ShowToolbar().ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                items.AddTool(ToolBarItems.Update);
                items.AddTool(ToolBarItems.Cancel);
            });
        })
        .Columns(col =>
        {
            col.Field("Id").IsPrimaryKey(true).Visible(false).Add();
            col.Field("Section").HeaderText("Secção").EditType(EditingType.Dropdown).Add();
            col.Field("Hours").HeaderText("H. Carga").Add();
            col.Field("State").HeaderText("Estado").AllowEditing(false).Add();
            col.Field("Qtd").HeaderText("Quantidade").Add();
            col.Field("Resources").HeaderText("Recursos").EditType(EditingType.Dropdown).Add();
            col.Field("NextSection").HeaderText("S. Destino").EditType(EditingType.Dropdown).Add();
            col.Field("Notes").HeaderText("Notas").Add();

            //col.Field("Section").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).ValidationRules(v => v.AddRule("required", true).AddRule("number", true)).Width(90).Add();
            //col.Field("CustomerID").HeaderText("Customer ID").Width(90).ValidationRules(v => v.AddRule("required", true).AddRule("minlength", 3)).Add();
            //col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(75).EditType(EditingType.Numeric).Width(75).NumericEditOptions(new Syncfusion.JavaScript.Models.EditorProperties() { DecimalPlaces = 2 }).ValidationRules(v => v.AddRule("range", "[0,1000]")).Format("{0:C}").Add();
            //col.Field("ShipCountry").HeaderText("Ship Country").EditType(EditingType.Dropdown).Width(85).Add();
            //col.Field("ShipCity").HeaderText("Ship City").Width(90).Add();
        })
            //.ClientSideEvents(eve => { eve.ActionComplete("complete"); })
            )
        </div>
    </div>
</div>
@section Scripts {
    <script>

        $(document).on('click', '#line-edit-form #show-resource-popup', function () {
            $("#modal-resources").modal('show');
        });

        $("#cancel-resources").on('click', function () {
            $("#modal-resources").modal('hide');
        });


        function actionComplete(args) {
            if (args.requestType == "beginedit" || args.requestType == "add") {


                if (args.requestType == "beginedit") {
                    $("#line-edit-form #Section").val(args.rowData.SectionId);
                    $("#line-edit-form #NextSection").val(args.rowData.NextSectionId);


                    //$("#form-dimensions #Units_Value").val(args.rowData.UnitId).selectpicker('refresh');
                    //$("#form-dimensions #form-dimensions-width").val(args.rowData.Width);
                    //$("#form-dimensions #form-dimensions-heigth").val(args.rowData.Heigth);
                    //$("#form-dimensions #form-dimensions-depth").val(args.rowData.Depth);
                    //$("#form-dimensions #form-dimensions-depth").trigger('change');

                    //$("#edit-form-tbl #VATId").val(args.rowData.VATId);

                }
                if (args.requestType == "add") {
                    //$("#form-dimensions #Units_Value").val('').selectpicker('refresh');
                    //$("#form-dimensions #form-dimensions-width").val('');
                    //$("#form-dimensions #form-dimensions-heigth").val('');
                    //$("#form-dimensions #form-dimensions-depth").val('');
                    //$("#form-dimensions #form-dimensions-text").val('');
                }



                //$("#dimensions-qtd-update").prop("checked", "").uniform();
                //$("#material-mem-update").prop("checked", "").uniform();

                $("#InlineEditForm_Editing_Save").val("Confirmar");
                $("#Editing").ejGrid("instance").keyConfigs.saveRequest = "ctrl+13";
                //if ($("#edit-form-tbl #Width").val() != "" || $("#edit-form-tbl #Heigth").val() != "" || $("#edit-form-tbl #Depth").val() != "") {
                //    $("#edit-form-tbl #Dimensions").prop("readonly", "readonly");
                //}

            }

            //if (args.requestType == "save") {
            //    var result = { Value: 0, Vat: 0 };
            //    if (args.model.dataSource != null && args.model.dataSource.dataSource != null && args.model.dataSource.dataSource.json != null) {
            //        var arrayTotals = args.model.dataSource.dataSource.json.map(function (i, o) { return { Value: i.TotalValue, Vat: i.VATValue }; });
            //        var result = Formulas.Quote().LinesGrandTotalAndVat(arrayTotals);
            //    }
            //    $("#bs-SingleSearchForm #TotalValue").val(result.Value.toString());
            //    $("#bs-SingleSearchForm #VatTotal").val(result.Vat.toString());
            //}
        }

        function beforeSave(args) {
            if (args.requestType == "save") {

                args.data.SectionId = $("#line-edit-form #Section").val();
                args.data.Section = $("#line-edit-form #Section option:selected").text();

                args.data.NextSectionId = $("#line-edit-form #NextSection").val();
                args.data.NextSection = $("#line-edit-form #NextSection option:selected").text();

                //args.data.Unit = $("#form-dimensions #Units_Value option:selected").text();
                //args.data.Width = Utils.DecimalToServerFormat($("#form-dimensions #form-dimensions-width").val());
                //args.data.Heigth = Utils.DecimalToServerFormat($("#form-dimensions #form-dimensions-heigth").val());
                //args.data.Depth = Utils.DecimalToServerFormat($("#form-dimensions #form-dimensions-depth").val());

                //args.data.QtdUnitId = $("#edit-form-tbl #QtdUnits_Value").val();
                //args.data.QtdUnit = Utils.DecimalToServerFormat($("#edit-form-tbl #QtdUnits_Value option:selected").val());
                //args.data.TotalValue = Utils.DecimalToServerFormat($("#edit-form-tbl #TotalValueline").val());
                //args.data.UnitPrice = Utils.DecimalToServerFormat($("#edit-form-tbl #UnitPrice").val());

                //args.data.VATId = $("#edit-form-tbl #VATId").val();
                //args.data.VATValue = Utils.DecimalToServerFormat($("#edit-form-tbl #VATValue").val());
                //args.data.VATCode = $("#edit-form-tbl #VATId option:selected").text();
                //args.data.DiscountValue = Utils.DecimalToServerFormat($("#edit-form-tbl #DiscountValue").val());
                //args.data.DiscountPercentage = Utils.DecimalToServerFormat($("#edit-form-tbl #DiscountPercentage").val());
            }
        }

        //Change da checkbox do material/specifications
        $(document).on("change", "#filter-mini-tbl", function () {

            if ($(this).prop("checked")) {
                $("#modal-resources-tbl .e-row ").hide();

                $("#modal-resources-tbl .e-row input:checked").each(function (i, o) {
                    $(o).parent().parent().parent().parent().show();
                });

            } else {
                $("#modal-resources-tbl .e-row").show();

            }
        });

        //Change da dropdown do material/specifications
        $("#ResourceTypes").on('change', function () {
            var id = $(this).val();
            if (id == "")
                $("#modal-resources-tbl .e-row").show();
            else {
                $("#modal-resources-tbl .e-row ").hide();
                $("#modal-resources-tbl .e-row.type-resources-" + id).show();
            }
        });


    </script>
}

<div id="modal-resources" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*<div class="modal-header">
                    Especificações <label class="pull-right"><input type="checkbox" id="material-mem-update" /> Atualizar Memória Descritiva</label>
                </div>*@
            <div class="modal-body">

                <div class="horizontal-form" id="form-exclusions">

                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="form-group ">
                                    <label class="control-label">Parâmetro</label>
                                    <select name="ResourceTypes" class="form-control bs-select" id="ResourceTypes">
                                        <option value=""></option>
                                        <option value="1">Operadores</option>
                                        <option value="2">Máquinas</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-5 ">
                                &nbsp;
                                @*<div class="form-group ">
                                        <label class="control-label">Descritivo</label><div class="input-group">
                                            <input type="text" id="resources-add-text" class="form-control" />

                                            <span class="input-group-btn">
                                                <button class="btn default " id="resources-add-new" type="button">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="col-md-3 ">
                                <div class="form-group pull-right">
                                    <label class="control-label">&nbsp;</label><br />
                                    <label class="control-label"> <input type="checkbox" id="filter-mini-tbl"> Só Seleccionados</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                @*<label class="control-label" style="white-space: nowrap;">Especificações</label>*@
                                @*<label class="control-label pull-right" style="white-space: nowrap;    margin-bottom: 10px;"> <input type="checkbox" id="filter-mini-tbl"> Só Seleccionados</label>*@
                                <div class="table-scrollable">
                                    <table class="table table-striped table-condensed table-bordered table-hover dataTable no-footer" id="modal-resources-tbl" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%;">&nbsp;</th>

                                                <th>Descritivo</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @*<tr class="e-row type-resources-@item.TypeId" id="spec-row-id-@item.Id">
                                                    <td><input type="checkbox" /></td>
                                                    <td>@item.Type</td>
                                                    <td>@item.Description</td>
                                                </tr>*@
                                            <tr class="e-row type-resources-1" id="spec-row-id-1">
                                                <td><input type="checkbox" /></td>
                                                <td>Manuel</td>
                                            </tr>
                                            <tr class="e-row type-resources-1" id="spec-row-id-2">
                                                <td><input type="checkbox" /></td>
                                                <td>Pedro</td>
                                            </tr>
                                            <tr class="e-row type-resources-1" id="spec-row-id-3">
                                                <td><input type="checkbox" /></td>
                                                <td>Bruno</td>
                                            </tr>
                                            <tr class="e-row type-resources-1" id="spec-row-id-4">
                                                <td><input type="checkbox" /></td>
                                                <td>Jorge</td>
                                            </tr>
                                            <tr class="e-row type-resources-1" id="spec-row-id-5">
                                                <td><input type="checkbox" /></td>
                                                <td>Vitor</td>
                                            </tr>

                                            <tr class="e-row type-resources-2" id="spec-row-id-6">
                                                <td><input type="checkbox" /></td>
                                                <td>Rebarbadora</td>
                                            </tr>

                                            <tr class="e-row type-resources-2" id="spec-row-id-7">
                                                <td><input type="checkbox" /></td>
                                                <td>Mesa Corte</td>
                                            </tr>

                                            <tr class="e-row type-resources-2" id="spec-row-id-8">
                                                <td><input type="checkbox" /></td>
                                                <td>Estação Soldar</td>
                                            </tr>

                                            <tr class="e-row type-resources-2" id="spec-row-id-9">
                                                <td><input type="checkbox" /></td>
                                                <td>Grua 3442</td>
                                            </tr>

                                            <tr class="e-row type-resources-2" id="spec-row-id-10">
                                                <td><input type="checkbox" /></td>
                                                <td>Estação Pintura 32</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-actions ">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn green" id="save-resources">Confirmar</button>
                                <button type="button" class="btn default" id="cancel-resources">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script id="template" type="text/template">
    <div id="line-edit-form">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group ">
                    <label class="control-label">Secção</label>
                    <select name="Section" class="form-control bs-select" id="Section">
                        <option value=""></option>
                        <option value="1">Corte Laser</option>
                        <option value="2">Serralharia</option>
                        <option value="3">Montagem</option>
                        <option value="4">Pintura</option>
                        <option value="5">Expedição</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group ">
                    <label class="control-label" style="white-space: nowrap;">H. Carga</label>
                    <input type="text" class="form-control" name="Hours" id="Hours" value="{{: Hours}}" />
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group ">
                    <label class="control-label" style="white-space: nowrap;">Estado</label>
                    <input type="text" class="form-control ol-readonly" readonly name="State" id="State" value="{{: State}}" />
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group ">
                    <label class="control-label" style="white-space: nowrap;">Quantidade</label>
                    <input type="text" class="form-control" name="Qtd" id="Qtd" value="{{: Qtd}}" />
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group ">
                    <label class="control-label" style="width: 100px;">Recursos</label>
                    <br /><button type="button" id="show-resource-popup" class="btn default">Selecionar</button>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group ">
                    <label class="control-label">Secção Destino</label>
                    <select name="NextSection" class="form-control bs-select" id="NextSection">
                        <option value=""></option>
                        <option value="1">Corte Laser</option>
                        <option value="2">Serralharia</option>
                        <option value="3">Montagem</option>
                        <option value="4">Pintura</option>
                        <option value="5">Expedição</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group ">
                    <label class="control-label" style="white-space: nowrap;">Notas</label>
                    <input type="text" class="form-control" name="Notes" id="Notes" value="{{: Notes}}" />
                </div>
            </div>
        </div>
    </div>
</script>

