﻿@model   DocFlow.Controllers.WeeksModel
@{
    ViewBag.Title = "Calendar";
}

<style type="text/css">
    .e-ddl-popup div > ul li, .e-ddl-popup div > .e-listbox li {
        border-bottom: 1px solid lightgray;
    }
</style>



<div class="page-content">


    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box @Css.SearchParamsClass" id="search-inputs-pnl">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-search"></i>Fretes
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="expand">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form" style="display:none">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label class="control-label">Semana</label>
                                            @Html.EditorFor(m => m.Weeks)
                                        </div>
                                    </div>
                                    @*<div class="col-md-12">
                                            <div class="form-group ">
                                                <label class="control-label">Comprador</label>
                                                @Html.EditorFor(m => m.Buyer)
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <label class="control-label">Estado</label>
                                                @Html.EditorFor(m => m.State)
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    @{
                        Html.EJ()
                            .ListBox("selectmailtools")
                            .Height("600px")
                            .AllowDrag(true).AllowMultiSelection(true)
                            .Width("100%")
                            .Datasource((IEnumerable<DocFlow.ViewModels.SwimCard>)ViewBag.Items)
                            .Template("<div class='row' ><div class='col-md-6 '>${Title}</div><div class='col-md-6 desig'> ${Description} </div></div>")
                            .ClientSideEvents(s => s.ItemDropped("onDropped2"))
                            .Render();
                    }

                </div>
            </div>
        </div>

        <div class="col-md-9">

            @(Html.EJ().Schedule("Schedule2")
                .Width("100%")
                .Height("800px")
                .CurrentView(CurrentView.Workweek)
                .StartHour(8)
                .EndHour(18)
                .HighlightBusinessHours(false)
                .TimeMode(TimeMode.Hour24)
                .AppointmentSettings(fields => fields.Datasource(ViewBag.datasource)
                    .Id("Id")
                    .Subject("Subject")
                    .StartTime("StartTime")
                    .EndTime("EndTime")
                    .Description("Description")
                    .AllDay("AllDay")
                    .ResourceFields("Dock")) //Esta propriedade mapeia com o Field das Resources
                 .Resources(res =>
                 {
                     res.Field("Dock").Title("Dock1").Name("Docas").AllowMultiple(true)
                     .ResourceSettings(flds => flds.Datasource((IEnumerable<DocFlow.Controllers.DockItem>)ViewBag.Docks).Text("Name").Id("Id").Color("Color")).Add();

                 })
                .Group(gr =>
                {
                    gr.Resources(ViewBag.Docas); // Este nome mapeia com o Name das Resources
                })
            )

        </div>
    </div>

</div>



@section Scripts {

    <script>


        function onDropped2(e) {
            if ($(e.target).parents(".e-schedule").length != 0) {
                var scheduleObj = $("#Schedule2").data("ejSchedule");
                //var result = scheduleObj.getSlotByElement($(e.target));
                //// set value to custom appointmnt window fields
                //$("#subject").val(e.droppedElementData.text);
                //$("#customdescription").val(e.droppedElementData.text);
                //$("#StartTime").ejDateTimePicker({ value: new Date(result.startTime) });
                //$("#EndTime").ejDateTimePicker({ value: new Date(result.endTime) });
                //$("#resource").val(result.resources.text);
                //$("#ownerId").val(result.resources.id);
                //$("#customWindow").ejDialog("open");
                var result = scheduleObj.getSlotByElement($(e.target));


                var obj = {};
                obj['Subject'] = e.items[0].data.OrderNumber;

                obj['Description'] = e.items[0].data.Shipper;
                obj['StartTime'] = new Date(result.startTime)
                obj['EndTime'] = new Date(result.endTime)
                //obj['OwnerId'] = '2';
                //obj['Resource'] = '255';

                obj['Dock'] = scheduleObj._getResourceValue($(e.target)).Id;


                scheduleObj.saveAppointment(obj);
            }

        }


        jQuery(document).ready(function () {


        });
    </script>
}