﻿
@{
    ViewBag.Title = "Calendar";
}
@using Syncfusion.JavaScript.Models;

<div class="page-content">

    <div class="row">
        @*<div class="col-md-2">
            @Html.EJ().TreeView("drag").Items(items =>
       {
           items.Add().Text("Obras da Semana").Id("Zero").Expanded(true).Children(child =>
           {
               child.Add().Text("Indicativo de dupla face");
               child.Add().Text("Logotipo letra \"b\"");
               child.Add().Text("Porta Folhetos");


           });
           items.Add().Text("1ª Semana de Março").Id("Um").Expanded(true).Children(child =>
           {
               child.Add().Text("Reclamo Biface");
               child.Add().Text("Indicativo Santander");


           });
           items.Add().Text("2ª Semana de Março").Id("Dois").Expanded(true).Children(child =>
           {
               child.Add().Text("Indicativo Monoface");
               child.Add().Text("Substituição de Cubas");
               child.Add().Text("AGEAS Seguros");


           });
           items.Add().Text("3ª Semana de Março").Id("Tres").Expanded(false).Children(child =>
           {
               child.Add().Text("Logotipo letra \"b\"");
               child.Add().Text("Fidelidade Seguros");


           });
           items.Add().Text("4ª Semana de Março").Id("Quatro").Expanded(false).Children(child =>
           {
               child.Add().Text("Indicativo Santander");
               child.Add().Text("Indicativo Novo Banco");


           });
           items.Add().Text("5ª Semana de Março").Id("Cinco").Expanded(false).Children(child =>
           {



           });

       }).AllowDragAndDrop(true).AllowDropChild(false).AllowDropSibling(false).AllowDragAndDropAcrossControl(true).Width("auto").ClientSideEvents(s => s.NodeDropped("onDropped").NodeDragStart("onNodeDrag"))
        </div>*@
        <div class="col-md-12">

            @{
                List<ResourceFields> Room = new List<ResourceFields>();
                Room.Add(new ResourceFields { Text = "Serralharia", Id = "S1", Color = "#6278da" });
                Room.Add(new ResourceFields { Text = "Montagem", Id = "S2", Color = "#399e86" });

                List<ResourceFields> Owner = new List<ResourceFields>();
                Owner.Add(new ResourceFields { Text = "Carlos Manuel", Id = "R1", GroupId = "S1", Color = "#1474B5" });
                Owner.Add(new ResourceFields { Text = "Carlos Manuel", Id = "S2R1", GroupId = "S2", Color = "#e6922d" });
                Owner.Add(new ResourceFields { Text = "Pedro Fernandes", Id = "R2", GroupId = "S1", Color = "#48940b" });

                List<String> Resources = new List<String>();
                Resources.Add("Sections");
                Resources.Add("Resources");

                List<string> view = new List<string>() { "Week", "Month" };
            }



            @{
                List<string> views = new List<string>() { "WorkWeek" };
            }
            @(Html.EJ().Schedule("Schedule1")
        .Width("100%")
        .Height("800px").Orientation(Orientation.Horizontal).TimeScale(t=>t.Enable(false))
        .Views(views)
            .CurrentView(CurrentView.Month)
            .ShowAppointmentNavigator(false)
             .Resources(res =>
             {
                 res.Field("SectionId").Title("Section").Name("Sections").AllowMultiple(true).ResourceSettings(flds => flds.Datasource(Room).Text("Text").Id("Id").Color("Color")).Add();
                 res.Field("ResourceId").Title("Resource").Name("Resources").AllowMultiple(true).ResourceSettings(flds => flds.Datasource(Owner).Text("Text").Id("Id").GroupId("GroupId").Color("Color")).Add();
             })
              .Group(gr => { gr.Resources(Resources); })
        .AppointmentSettings(fields => fields.Datasource(ViewBag.datasource)
            .Id("Id")
            .Subject("Subject")
            .StartTime("StartTime")
            .EndTime("EndTime")
            .Description("Description")
            .AllDay("AllDay")
            .ResourceFields("SectionId,ResourceId")
)
            )


            @*//.Views(views)
                //.CurrentDate(new DateTime(2017, 2, 13))
                //.CurrentView(CurrentView.Week)
                //.RenderDates(dt => dt.Start("12/2/2017").End("18/2/2017"))*@



        </div>
    </div>


  
</div>



@section Scripts {

    <script>

        function onNodeDrag(e) {
            if (e.targetElementData.parentId == "") return false;
        }

        function onDropped(e) {
            if ($(e.target).parents(".e-schedule").length != 0) {
                var scheduleObj = $("#Schedule1").data("ejSchedule");
                //var result = scheduleObj.getSlotByElement($(e.target));
                //// set value to custom appointmnt window fields
                //$("#subject").val(e.droppedElementData.text);
                //$("#customdescription").val(e.droppedElementData.text);
                //$("#StartTime").ejDateTimePicker({ value: new Date(result.startTime) });
                //$("#EndTime").ejDateTimePicker({ value: new Date(result.endTime) });
                //$("#resource").val(result.resources.text);
                //$("#ownerId").val(result.resources.id);
                //$("#customWindow").ejDialog("open");
                var result = scheduleObj.getSlotByElement($(e.target));


                var obj = {};
                obj['Subject'] = e.droppedElementData.text;

                obj['Description'] = 'Descricao da ' + e.droppedElementData.text;
                obj['StartTime'] = new Date(result.startTime)
                obj['EndTime'] = new Date(result.endTime)
                obj['OwnerId'] = '2';
                obj['Resource'] = '255';




                scheduleObj.saveAppointment(obj);
            }

        }
        jQuery(document).ready(function () {



            //function save() {
            //    var obj = {};
            //    var formelement = $("#customWindow").find("#custom").get(0);
            //    for (var index = 0; index < formelement.length; index++) {
            //        var columnName = formelement[index].name, $element = $(formelement[index]);
            //        if (columnName != undefined) {
            //            if (columnName == "Subject")
            //                var value = formelement[index].value;
            //            if (columnName == "Desctiption")
            //                value = formelement[index].value;
            //            if (columnName == "StartTime")
            //                value = new Date(formelement[index].value);
            //            if (columnName == "EndTime")
            //                value = new Date(formelement[index].value);
            //            if (columnName == "OwnerId")
            //                value = formelement[index].value;
            //            if (columnName != "Resource")
            //                obj[columnName] = value;
            //        }
            //    }
            //    $("#customWindow").ejDialog("close");
            //    var object = $("#Schedule1").data("ejSchedule");
            //    object.saveAppointment(obj);
            //}


        });
    </script>
}