﻿@model DocFlow.ViewModels.ExampleSearchModel
@{
    ViewBag.Title = "Exemplo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {

<link  type="text/css" href="~/Content/Base/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link  type="text/css" href="~/Content/Base/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet"/>

<link href="~/Content/Base/plugins/alertifyjs/css/alertify.min.css" rel="stylesheet" />
<link href="~/assets/global/plugins/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
}


<div class="page-content">
    <h3 class="page-title">
        <i class="fa fa-book" style="font-size:28px;"></i> Exemplo <small> </small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-book"></i>
                <a href="@Url.Action("Index", "Home")">Exemplo</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-search"></i>
                <a href="#">Pesquisa</a>
            </li>


        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Css.GoToClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
  
                        <li>
                            <a href="@Url.Action("New", "Contract", new {area="Energy" })"><i class="fa fa-plus"></i> @Language.CONTRACT_NEW</a>
                        </li>
                 
                        <li>
                            <a href="@Url.Action("Search", "Tariff", new { area="Energy"})"> <i class="fa fa-search"></i>@Language.TARIFF_SEARCH_TITLE </a>
                        </li>
      
                </ul>
            </div>
        </div>
    </div>


    <!-- BEGIN Portlet PORTLET-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @Css.SearchParamsClass" id="search-inputs-pnl">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search"></i>@Language.SEARCH_PORTLET_TITLE
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-body">
                        @using (Html.BeginForm("QuickSearch", "Example", FormMethod.Post, new { @class = "horizontal-form", @id = "bs-QuickSearchForm" }))
                        {
                                <div class="row" id="bs-quicksearch-params-container">
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label">@Language.SEARCH_PORTLET_TITLE</label>

                                            <div class="input-group">
                                                <input type="text" class="form-control" id="quicksearch" name="text">
                                                <span class="input-group-btn">
                                                    <button id="bs-quick-search-submit-btn" class="btn default" type="button"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                            <a href="#" id="bs-quick-search-toggle">@Language.SEARCH_ADVANCED</a>
                                        </div>
                                    </div>
                                </div>
                        }
                        @using (Html.BeginForm("DoSearch", "Example", FormMethod.Post, new { @class = "horizontal-form", @id = "bs-AdvancedSearchForm" }))
                        {
                            <div id="bs-advanced-search-params-container" class="ol-search-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#" id="bs-advanced-search-toggle">@Language.SEARCH_SIMPLE</a>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label">@Language.NAME</label>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label">Intervalo Datas</label>
                                            <div class="input-group" id="example-dates-range">
                                                <input type="text" class="form-control input-daterange">
                                                <span class="input-group-btn">
                                                    <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label">Data Simples</label>
                                            <div class="input-group " id="simple-date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn default datepicker-icon" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Spinner</label>
                                            <div id="records-spinner" style="display:block;">
                                                <div class="input-group" style="width:150px;">
                                                    <div class="spinner-buttons input-group-btn">
                                                        <button type="button" class="btn spinner-down ">
                                                            @*red*@
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.Number, new { @class = "form-control spinner-input", @maxlength = "3" })
                                                    <div class="spinner-buttons input-group-btn">
                                                        <button type="button" class="btn spinner-up ">
                                                            @*blue*@
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label">Select Normal</label>
                                            @Html.EditorFor(m => m.Dropdown)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label">Select Multiplo</label>
                                            @Html.EditorFor(m => m.MultiDropDown)
                                        </div>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="form-group ">
                                            <label class="control-label">@Language.HISTORY</label>
                                            <div class="checkbox-list">
                                                <label class="checkbox-inline">  </label>
                                                @*<input id="History" name="History" type="checkbox" >*@
                                                @Html.EditorFor(u=>u.Checkbox)
                                            </div>
                                        </div>
                                    </div>
                                   
                               
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-actions left " style="background-color:#fff;">
                        <button type="button" id="bs-submit-btn" class="btn purple">@Language.SEARCH</button>
                        <button type="button" id="bs-clean-btn" class="btn red-stripe default">@Language.CLEAN</button>
                    </div>

                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">

            <div class="portlet box @Css.SearchResultsClass ol-hide" id="bs-search-results-container">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-file-text-o"></i>@Language.CONTRACTS
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                    </div>
                    <div class="actions">
                        <div class="btn-group" id="ExportDrop">
                            <a class="btn btn-default btn-sm" href="#" data-toggle="dropdown">
                                <i class="fa fa-share"></i>
                                <span class="hidden-480">
                                    @Language.ACTIONS
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="#" data-toggle="dropdown">
                                @Language.COLUMNS <i class="fa fa-angle-down"></i>
                            </a>
                            <div id="results-tablename_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                                <label><input class="checkboxforcolumns" type="checkbox" checked data-column="0">Nome</label>
                                <label><input class="checkboxforcolumns" type="checkbox" checked data-column="1">Data</label>
                                <label><input class="checkboxforcolumns" type="checkbox" checked data-column="2">Decimal</label>
                                <label><input class="checkboxforcolumns" type="checkbox" checked data-column="3">Check</label>
                                <label><input class="checkboxforcolumns" type="checkbox" checked data-column="4">Link</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="results-tablename">
                        <thead>
                            <tr>
                                @*<th><input class="checkAll" type="checkbox" /></th>*@
                                <th>Nome</th>
                         
                                <th>Data</th>
                                <th>Decimal</th>
                                <th>Check</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/assets/global/scripts/jquery.bbq/jquery.ba-bbq.min.js"></script>*@


<script type="text/javascript" src="~/Content/Base/plugins/fuelux/js/spinner.min.js"></script>
@*<script src="~/Content/Base/plugins/bootstrap-touchspin/bootstrap.touchspin.min.js" type="text/javascript"></script>*@


    


<script src="~/Content/Base/plugins/alertifyjs/alertify.min.js"></script>
<script src="~/Scripts/Alert.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-periodpicker.js"></script>
<script type="text/javascript" src="~/Content/Base/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt.js"></script>
<script src="~/Content/Base/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="~/Scripts/Base/base.search.js"></script>
<script src="~/Scripts/Example/example.search.js"></script>

    <script>
            @*@if (ViewBag.JsonParams != null)
            {
                <text> ExampleSearch.JsonParams = JSON.parse('</text>@Html.Raw(ViewBag.JsonParams)<text>');</text>
            }

        Language.CONTRACT_NEW = '@Language.CONTRACT_NEW';*@

        jQuery(document).ready(function () {
            ExampleSearch.init();
        });
    </script>
}


