﻿
@{
    ViewBag.Title = "Peça";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <style>
        .fill-width {
            width: 100%;
        }

            .fill-width a {
                text-align: left;
            }

            .fill-width.active {
                background-color: #3598dc;
            }

                .fill-width.active a {
                    background-color: #3598dc !important;
                }

                .fill-width.active:hover {
                    background-color: #217ebd;
                }

                    .fill-width.active:hover a {
                        background-color: #217ebd !important;
                    }

                .fill-width.active a :hover {
                    background-color: #217ebd !important;
                }

        .no-margins {
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }
    </style>
    <!-- END PAGE LEVEL STYLES -->

}
<div class="page-content">
    <h3 class="page-title">
        <i class="fa fa-book" style="font-size:28px;"></i> Custos <small> </small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-book"></i>
                <a href="@Url.Action("Search", "Quote")">Orçamentos</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-book"></i>
                <a href="#">Custos</a>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Css.GoToClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">

                    <li>
                        <a href="@Url.Action("Search", "Job")"> <i class="fa fa-search"></i> Pesquisa </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <div class="clearfix"></div>
    <a href="#" id="linkmodel">CLICKmodal</a>
    <div id="modal-editor-line" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header">
                    Morada

                    <div class="actions pull-right" style="margin-left: 15px;">
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="#">
                                <i class="fa fa-save"></i>
                                Guardar
                            </a>
                        </div>
                    </div>

                    <div class="actions pull-right">
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="#">
                                <i class="fa fa-times"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>

                </div>
                <div class="modal-body">
                    <div id="edit-form-tbl">
                        @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .ShowRibbon(false)
    .AllowFormulaBar(true)
    .RowCount(32)
    .ColumnWidth(100)
    .AllowInsert(false)
    .ScrollSettings(scroll =>
    {
        scroll.Height(470);
    })
    .Sheets(sheet =>
    {
        sheet.SheetName("Resumo")
        .ShowGridlines(false).ShowHeader(false).ShowHeadings(false)
        .CellTypes(ctype =>
        {
            ctype.Range("K3").Setting(setting =>
            {
                setting.Type(CustomCellTypes.Button).BackgroundColor("purple").Text("Guardar").Color("white");
            }).Add();
        }).Add();
        sheet.Datasource((IEnumerable<object>)ViewBag.DatasourceOperations)
        .PrimaryKey("OperationID")
        .SheetName("Mão de Obra").Add();
        sheet.Datasource((IEnumerable<object>)ViewBag.DatasourceMaterials)
        .PrimaryKey("Id")
        .SheetName("Materiais").Add();
        sheet
        .SheetName("Outros Custos").Add();
    })
      .ClientSideEvents(events =>
      {
          events.LoadComplete("costloadComplete");
          events.CellClick("cellClick");
      })
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function cellClick(args) {
        if (args.columnName == "K" && args.rowIndex == "2")
            Alert.error("Ativou o botão da célula " + args.columnName + args.columnIndex);

    }
    $(document).on('click', '#linkmodel', function () {
        $("#modal-editor-line").modal('show');
    });
    $('#modal-editor-line').on('shown.bs.modal', function (e) {
        $(document).trigger("resize");
    });

    
    function costloadComplete(args) {


        if (true) {
            var sheetIdx, xlFormat = this.XLFormat, xlEdit = this.XLEdit;
            sheetIdx = 1;              //sheet 1 - Resumo
            this.gotoPage(sheetIdx, false);
            xlEdit.updateValue("A1", 'Rúbrica');
            xlEdit.updateValue("B1", 'Valor');
            xlEdit.updateValue("C1", 'Margem %');
            xlEdit.updateValue("D1", 'Margem €');
            xlEdit.updateValue("E1", 'PVP');

            xlEdit.updateValue("A2", 'Materiais');
            xlEdit.updateValue("B2", '=SUM(Materiais!Z:Z)');
            xlEdit.updateValue("C2", '=C7/100');
            xlEdit.updateValue("D2", '=B2*C2');
            xlEdit.updateValue("E2", '=B2+D2');

            xlEdit.updateValue("A3", 'Mão de Obra');
            xlEdit.updateValue("B3", '=SUM(\'Mão de Obra\'!J:J)');
            xlEdit.updateValue("C3", '=C7/100');
            xlEdit.updateValue("D3", '=B3*C3');
            xlEdit.updateValue("E3", '=B3+D3');

            xlEdit.updateValue("A4", 'Outros Custos');
            xlEdit.updateValue("B4", '=SUM(\'Outros Custos\'!J:J)');
            xlEdit.updateValue("C4", '=C7/100');
            xlEdit.updateValue("D4", '=B4*C4');
            xlEdit.updateValue("E4", '=B4+D4');

            xlEdit.updateValue("A5", 'Sub-total');
            xlEdit.updateValue("B5", '=SUM(B2:B4)');
            xlEdit.updateValue("C5", '=C7/100');
            xlEdit.updateValue("D5", '=B5*C5');
            xlEdit.updateValue("E5", '=B5+D5');

            xlEdit.updateValue("A6", 'Indirectos');
            xlEdit.updateValue("B6", '=B5*0.3');
            xlEdit.updateValue("C6", '=C7/100');
            xlEdit.updateValue("D6", '=B6*C6');
            xlEdit.updateValue("E6", '=B6+D6');

            xlEdit.updateValue("A7", 'Total');
            xlEdit.updateValue("B7", '=SUM(B5:B6)');
            xlEdit.updateValue("C7", '');
            xlEdit.updateValue("D7", '=SUM(D5:D6)');
            xlEdit.updateValue("E7", '=SUM(E5:E6)');

            xlEdit.updateValue("G1", 'Margem %');
            xlEdit.updateValue("H1", 'Valor Margem');
            xlEdit.updateValue("I1", 'Total');


            for (var i = 2; i < 11; i++) {
                xlEdit.updateValue("G" + i, ((i) * 10) + '%');
                xlEdit.updateValue("H" + i, '=' + ((i) * 10) / 100 + '*B7');
                xlEdit.updateValue("I" + i, '=(1+' + ((i) * 10) / 100 + ')*B7');
            }

            // -- popular
            xlEdit.updateValue("A12", 'Código');
            xlEdit.updateValue("A13", 'CODE_VAL');
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A12");

            xlEdit.updateValue("B12", 'Descrição');
            xlEdit.updateValue("B13", 'DESC_VAL');
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "B12");

            var oos = this.XLSearch.findNext("CODE_VAL", { isCSen: true, isEMatch: true, type: "value", mode: "sheet", searchBy: "rows" }, 1);
            debugger;
            //  this.XLSearch.replaceAllBySheet('CODE_VAL', 'A124/32', true, true);


            xlFormat.format({ "type": "number" }, "B2:E7");
            xlFormat.format({ "type": "percentage" }, "C2:C6");
            xlFormat.format({ "type": "number" }, "D10:E18");
            xlFormat.format({ "style": { "background-color": "#c7c7c7" } }, "C7");
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A1:E1");
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A1:A7");
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A5:E5");
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A7:E7");
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "C9:E9");

            this.lockCells("A1:E18", true);
            this.lockCells("C7", false);
            this.protectSheet(true);
            this.performSelection("A1");

            sheetIdx = 2;              //sheet 2 - Operações
            this.gotoPage(sheetIdx, false);

            this.hideColumn(1, 1);
            this.hideColumn(2, 2);
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A1:J1");
            this.setWidthToColumns([0, 0, 152, 100, 100, 100, 100, 100, 100, 100]);
            xlEdit.updateValue("C1", 'Operação');
            xlEdit.updateValue("D1", 'N.º Dias');
            xlEdit.updateValue("E1", 'N.º Horas');
            xlEdit.updateValue("F1", 'N.º Minutos');
            xlEdit.updateValue("G1", 'Total Horas');
            xlEdit.updateValue("H1", 'N.º Homens');
            xlEdit.updateValue("I1", 'P.U.');
            xlEdit.updateValue("J1", 'Total');

            for (var i = 2; i < 13; i++) {
                xlEdit.updateValue("G" + i, '=D' + i + "*(E" + i + "+F" + i + "/60)");
                xlEdit.updateValue("J" + i, '=G' + i + "*H" + i + "*I" + i);
                xlFormat.format({ "style": { "background-color": "#c7c7c7" } }, "D" + i);
                xlFormat.format({ "style": { "background-color": "#c7c7c7" } }, "E" + i);
                xlFormat.format({ "style": { "background-color": "#c7c7c7" } }, "F" + i);
                xlFormat.format({ "style": { "background-color": "#c7c7c7" } }, "H" + i);
                xlFormat.format({ "style": { "background-color": "#c7c7c7" } }, "I" + i);
            }

            this.lockCells("A1:J1", true);
            this.lockCells("A2:C12", true);
            this.lockCells("G2:G12", true);
            this.lockCells("J2:J12", true);
            this.protectSheet(true);
            this.performSelection("A1");

            sheetIdx = 3;               //sheet 3 - Materiais
            this.gotoPage(sheetIdx, false);

            this.hideColumn(1, 1);
            this.hideColumn(4, 4);
            this.hideColumn(6, 6);
            this.hideColumn(8, 8);
            this.hideColumn(10, 10);
            this.hideColumn(12, 12);
            this.hideColumn(17, 17);
            this.hideColumn(18, 18);
            this.hideColumn(19, 19);
            this.hideColumn(20, 20);
            this.hideColumn(21, 21);
            this.hideColumn(22, 22);
            this.hideColumn(23, 23);
            this.hideColumn(24, 24);
            this.hideColumn(27, 27);
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A1:AB1");
            this.setWidthToColumns([0, 100, 200, 0, 100, 0, 100, 0, 100, 0, 100, 0, 100, 100, 100, 100, 0, 0, 0, 0, 0, 0, 0, 0, 100, 100, 0, 100]);
            xlEdit.updateValue("B1", 'Código');
            xlEdit.updateValue("C1", 'Material');
            xlEdit.updateValue("E1", 'Tipo');
            xlEdit.updateValue("G1", 'Família');
            xlEdit.updateValue("I1", 'Marca');
            xlEdit.updateValue("K1", 'Fornecedor');
            xlEdit.updateValue("M1", 'Tipo Dimensão');
            xlEdit.updateValue("N1", 'Dimensão');
            xlEdit.updateValue("O1", 'Unidade');
            xlEdit.updateValue("P1", 'Quantidade');
            xlEdit.updateValue("Y1", 'P.U.');
            xlEdit.updateValue("Z1", 'Total');
            xlEdit.updateValue("AB1", 'Data Preço');

            var i = 2;
            while (xlEdit.getPropertyValue(i - 1, 1) != null && xlEdit.getPropertyValue(i - 1, 1) != "") {
                xlEdit.updateValue("Z" + i, '=P' + i + "*Y" + i);
                i++;
            }

            this.XLFilter.filter("A1:AB1");
            xlFormat.format({ "style": { "background-color": "#c7c7c7" } }, "P2:P100");
            xlFormat.format({ "style": { "background-color": "#c7c7c7" } }, "Y2:Y100");
            this.lockCells("A1:AB5000", true);
            this.lockCells("P2:P5000", false);
            this.lockCells("Y2:Y5000", false);
            this.protectSheet(true);
            this.performSelection("A1");

            sheetIdx = 4;               //sheet 4 - Outros
            this.gotoPage(sheetIdx, false);

            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A1:M1");
            this.setWidthToColumns([100, 200, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]);
            xlEdit.updateValue("A1", 'Código Fornecedor');
            xlEdit.updateValue("B1", 'Material');
            xlEdit.updateValue("C1", 'Tipo');
            xlEdit.updateValue("D1", 'Família');
            xlEdit.updateValue("E1", 'Marca');
            xlEdit.updateValue("F1", 'Fornecedor');
            xlEdit.updateValue("G1", 'Tipo Dimensão');
            xlEdit.updateValue("H1", 'Dimensão');
            xlEdit.updateValue("I1", 'Unidade');
            xlEdit.updateValue("J1", 'Quantidade');
            xlEdit.updateValue("K1", 'P.U.');
            xlEdit.updateValue("L1", 'Total');
            xlEdit.updateValue("M1", 'Data Preço');

            for (var i = 2; i < 20; i++) {
                xlEdit.updateValue("L" + i, '=J' + i + "*K" + i);
            }

            this.gotoPage(1, false);
            this.performSelection("A1");

        }
    }

</script>
