﻿@model List<MVC.DomainModel.Documents.DocumentLineModel>
<div class="portlet box @Css.SearchResultsClass " id="bs-search-results-container">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-file-text-o"></i>Resultados
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>


    </div>
    <div class="portlet-body">

        @(Html.EJ().Grid<MVC.DomainModel.Documents.DocumentLineModel>("FlatGrid")
                                .Datasource(d => d.Json(Model))
                                .AllowPaging()
                                //.IsResponsive(false)
                                .EnableResponsiveRow(false)
                                .AllowSorting()
                                //.ScrollSettings(x => x.Height("60%"))
                                .PageSettings(p =>
                                {
                                p.PageSize(25);
                                })
                                .MinWidth(650)
                                .AllowSelection()
                                .AllowScrolling(true)
                                .AllowResizing()
                                .AllowFiltering()
                                .FilterSettings(filter =>
                                {
                                    filter.FilterType(FilterType.Excel);
                                })
                                .Columns(col =>
                                {
                                    col.Field("Item").HeaderText("Código").Template("<a href='/Table/ModelDetails/{{:Id}}' target='_blank'>{{:Item}}</a>").TextAlign(TextAlign.Left).Width("5%").Add();
                                    col.Field("Description").HeaderText("Descrição").TextAlign(TextAlign.Left).Width("25%").Add();
                                    col.Field("Dimensions").HeaderText("Dimensões").TextAlign(TextAlign.Left).Width("13%").Add();
                                    col.Field("UnitPrice").HeaderText("P.U.").TextAlign(TextAlign.Left).Width("5%").Add();
                                    col.Field("VATCode").HeaderText("Cód. IVA").TextAlign(TextAlign.Left).Width("5%").Add();
                                    col.Field("VATValue").HeaderText("IVA").TextAlign(TextAlign.Left).Width("5%").Add();
                                    col.Field("DiscountPercentage").HeaderText("% Desconto").TextAlign(TextAlign.Left).Width("5%").Add();
                                    col.Field("DiscountValue").HeaderText("Desconto").TextAlign(TextAlign.Left).Width("5%").Add();
                                    col.Field("TotalValue").HeaderText("Total").TextAlign(TextAlign.Left).Width("7%").Add();
                                    col.Field("DescriptiveMemory").HeaderText("Texto/Memória Desc.").TextAlign(TextAlign.Left).Width("20%").Add();
                                    col.Field("Id").IsPrimaryKey(true).Visible(false).Add();
                                }))

    </div>
</div>

