﻿@model DocFlow.Core.Objects.ChartWrapper


@if (Model != null)
{

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa @Model.Icon font-@Model.Color "></i>
                <span class="caption-subject font-@Model.Color bold uppercase">@Model.Name</span>

                @if (Model.SelectList != null && Model.SelectList.Values != null)
                {
                    <span class="caption-helper" id="captionTypeChart">
                        @Html.EditorFor(m => Model.SelectList)
                    </span>
                }
            </div>


            @if (Model.Buttons != null && Model.Buttons.Any())
            {
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        @foreach (DocFlow.Core.Objects.ChartButton btn in Model.Buttons)
                        {
                            <label class="btn btn-transparent grey-salsa btn-circle btn-sm chart-btn @(btn.Active? "active" : string.Empty)" data-type="@((int)Model.Type)" data-url="@btn.Link" data-LineTypeId="@btn.LineTypeId" data-ValueTypeId="@btn.ValueTypeId" data-chart-id="model-@Model.Id">
                                @btn.DisplayText
                            </label>
                        }
                    </div>
                </div>
            }

        </div>
        <div class="portlet-body" style="position:relative;">
            <div>
                <img src="~/Content/Themes/img/103.gif" class="in-middle" alt="loading" />
                <div id="@Model.Id" class="chart undone-chart-@(Model.Type.ToString())" style="height:576px;">
                    <!-- procuro todos $(".undone-chart") e crio os graficos. depois retiro a classe-->
                    <input type="hidden" id="model-@Model.Id" value="@Model.JsonChart" />
                </div>
            </div>
        </div>
    </div>

}
