﻿@model List<MVC.DomainModel.Dashboards.DashLastValue>

@if (Model != null && Model.Any())
{
    <div class="row row-kpis" >
        @foreach (var kpi in Model)
        {
            <div class="@kpi.GetSize()">
                <a href="@kpi.Link" target="_blank">
                    <div class="dashboard-stat @kpi.Color ol-kpi" id="energy-kpi-locals" style="height:135px;">
                        <div class="visual">
                            <div class="desc">
                                <small>@*@Model.Text*@</small>
                            </div>
                            <i class="@kpi.Icon"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                @kpi.Value.ToRoundFormat(kpi.Decimals) <i style="font-size:30px;" class="@kpi.GetTrend()"></i><br />
                                <span style="font-size:14px;">@(kpi.LastValue.HasValue ? string.Format("({0})", kpi.LastValue.ToRoundFormat(kpi.Decimals)) : string.Empty)</span>
                            </div>
                            <div class="desc">
                                @kpi.Text
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}