﻿@model List<DocFlow.ViewModels.DashboardList>


@if (Model != null && Model.Any())
{
    <div class="row row-lists">
        @foreach (DocFlow.ViewModels.DashboardList list in Model)
        {
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <span class="caption-subject @list.GetColor() bold uppercase"> @list.DisplayText</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="feeds" id="ulprocessing">

                                @if (list.Values != null && list.Values.Any())
                                {
                                    foreach (MVC.DomainModel.Dashboards.DashValue value in list.Values)
                                    {
                                        <li @*id="@item.Identifier"*@>
                                            <a href="@value.Link" target="_blank">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm @value.Color">
                                                                <i class="fa  @value.Icon"></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                @value.Text
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}