﻿.form-control.ol-readonly {
    background-color: #FFF !important;
    cursor: text !important;
}
.form-control.ol-readonly-gray {
    background-color: #f1f1f1 !important;
    cursor: text !important;
}
