﻿@model DocFlow.ViewModels.MultiSelectModel<DocFlow.ViewModels.OptionItem>
@if (Model != null && Model.Values != null)
{
    <select id="@string.Format("{0}.Values",ViewData.TemplateInfo.HtmlFieldPrefix)" name="@string.Format("{0}.SelectedValues",ViewData.TemplateInfo.HtmlFieldPrefix)" class="form-control  bs-select" multiple>
        @foreach (var item in Model.Values)
        {
            if (item.Selected)
            {
                <option selected value="@item.Value" data-type="@item.Type">@item.Text</option>
            }
            else
            {
                <option value="@item.Value" data-type="@item.Type">@item.Text</option>
            }

        }
    </select>
}
else
{
    <select id="@ViewData.TemplateInfo.HtmlFieldPrefix" class="form-control  bs-select" multiple></select>
}


@*@Html.DropDownListFor(o => o.SelectedValues, Model.Values, new { @class = "form-control bs-select" })
    }
    else
    {
    @Html.DropDownListFor(o => o.SelectedValues, new List<SelectListItem>(), new { @class = "form-control bs-select" , multiple="multiple"})
    }*@



