﻿@model DocFlow.ViewModels.LoginInfoViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form class="login-form">

            <h3 class="form-title">@Html.Raw(Model.FormHeader)</h3>

            <div class="forget-password">
                <h4>@Html.Raw(Model.Message)</h4>
            </div>

            <div class="form-actions" id="append-div">
                <a href="@Url.Action("Login", "Account")" id="forget-password" style="color:#fff;font-size:11pt;">

                    <i class="m-icon-swapleft m-icon-white"></i>
                    @Language.BACK

                </a>
            </div>
        </form>
    </div>
</div>
<!-- BEGIN LOGIN FORM -->
