﻿@model DocFlow.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = @Language.LOGIN;
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN LOGIN FORM -->
        @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-title">@Language.USERS_PERSONALDATA_CHANGEPASSWORD</h3>
                <div class="forget-password">
                    <h4>@Language.USERS_PERSONALDATA_CHANGEPASSWORD_ALERT</h4>

                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">@Language.ACCOUNTS_PASSWORD</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", @placeholder = @Html.DisplayNameFor(m => m.Password), @name = "password", @autocomplete = "off" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">@Language.USERS_PERSONALDATA_CONFIRMPASSWORD</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control placeholder-no-fix", @placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword), @name = "confirmpassword", @autocomplete = "off" })
                    </div>
                </div>
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.Code)
                <div class="form-actions" id="append-div">
                    <a href="@Url.Action("Login", "Account")" id="forget-password" style="color:#fff;font-size:11pt;">

                        <i class="m-icon-swapleft m-icon-white"></i>
                        @Language.BACK

                    </a>
                    <button type="submit" class="btn blue-steel pull-right">
                        @Language.USERS_PERSONALDATA_CHANGEPASSWORD <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>


                <div class="form-group" id="err-msg" style="display:none;">
                    <div class="alert alert-danger">
                        @*<button type="button" class="close" data-dismiss="alert"></button>*@
                        <strong>@Language.ACCOUNTS_RESET_PASSWORD_ERRORDATA</strong><p></p>@Language.ACCOUNTS_PASSWORD_CONFIRM_ERRORMESSAGE
                    </div>
                </div>
        }
        <!-- END LOGIN FORM -->
    </div>
</div>
@section Scripts{
    <script>
        Language = new Object();
        Language.ACCOUNTS_RESET_PASSWORD_ERRORDATA = '@Language.ACCOUNTS_RESET_PASSWORD_ERRORDATA';
        Language.ACCOUNTS_MESSAGE_PASSWORDS_DONT_MATCH = '@Language.ACCOUNTS_MESSAGE_PASSWORDS_DONT_MATCH';
        Language.ACCOUNTS_MESSAGE_PASSWORD_INVALID = '@Language.ACCOUNTS_MESSAGE_PASSWORD_INVALID';
        Language.ACCOUNTS_MESSAGES_PASSWORD_RULES = '@Language.ACCOUNTS_MESSAGES_PASSWORD_RULES';
        Language.ACCOUNTS_MESSAGE_PASSWORD_SET = '@Language.ACCOUNTS_MESSAGE_PASSWORD_SET';

    </script>
    <script src="~/Scripts/Account/resetpasswword.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            ResetPassword.init();
        });
    </script>
}
