﻿@model System.Boolean
@if (Model)
{
    <div class="alert alert-info alert-dismissable" style="text-align:center;"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button> <strong> @Language.ALERT </strong> @Language.ALERT_PROCESSING_FILES </div>
}