﻿
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<div class="page-content">



    <input type="hidden" id="view-model" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />

    <div class="row">
        <div class="col-md-12 center">    <h3>@ViewBag.Database</h3></div>
    </div>
    <div class="row">
        <div class="col-md-12 center">    <h3>@ViewBag.BDInfo</h3></div>
    </div>
</div>