﻿@model DocFlow.ViewModels.DashboardBase
@using DocFlow.Core.Extensions;


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{


    <link rel="stylesheet" type="text/css" href="~/Content/Base/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Base/plugins/amcharts/plugins/export/export.css" media="all" />

}
<div class="page-content">



    <input type="hidden" id="view-model" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="page-title">
                @Language.MENU_DASHBOARD <small>@Language.DASHBOARD_SUBTITLE</small>
            </h3>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group ">
                <div class="input-group input-medium pull-right" id="dashboard-datepicker" style="width:270px !important;">
                    <input type="text" class="form-control" style="background-color:#F5F5F5; border-color:#F5F5F5; color:#777; cursor:pointer; text-align: right;">
                    <span class="input-group-btn">
                        <button class="btn default datepicker-icon" type="button" style="background-color:#F5F5F5; border-color:#F5F5F5; color:#777"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>

            @*<div class="input-group input-medium date date-picker  pull-right" id="dashboard-kpi-period" data-date-format="MM yyyy" data-date-viewmode="months" style="width:170px !important;">
                <input type="text" class="form-control " readonly style="background-color:#F5F5F5; border-color:#F5F5F5; color:#777; cursor:pointer;">
                <span class="input-group-btn">
                    <button class="btn default" type="button" style="background-color:#F5F5F5; border-color:#F5F5F5; color:#777"><i class="fa fa-calendar"></i></button>
                </span>
            </div>*@
        </div>
    </div>

    @if (User.IsInAction("DASH_TECHN_KPI"))
    {
        
        Html.RenderAction("DashboardKPI", new { month = Model.CurrentDate });
    }

    @if (User.IsInAction("DASH_TECHN_KPI"))
    {
        Html.RenderAction("DashboardLists", new { month = Model.CurrentDate });
    }

@if (User.IsInAction("DASH_TECHN_KPI"))
{
    Html.RenderAction("DashboardChartsPartial", new { month = Model.CurrentDate });
}

    @*<div class="row">
        @if (User.IsInAction("DASH_NOTIF_PROC"))
        {
            <div class="col-lg-6 col-md-12 col-sm-12" id="process-logs">

                @{Html.RenderAction("ProcessLogs", "Home");}

            </div>
                    }
        @if (User.IsInAction("DASH_NOTIF_ANLYS"))
        {
            <div class="col-lg-6 col-md-12 col-sm-12" id="analysis-logs">

                @{Html.RenderAction("AnalysisLogs", "Home");}

            </div>
                    }
    </div>*@
    <div class="clearfix">
    </div>

    @*@if (User.IsInAction("DASH_TECHN_TOTALS"))
    {
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-bolt font-red-flamingo "></i>
                            <span class="caption-subject font-red-flamingo bold uppercase">@Language.TOTAL</span>
                           
                        </div>
                    </div>
                    <div class="portlet-body" style=" position relative;">
                        <div id="energy-evo">
                            <img src="~/Content/Themes/img/103.gif" class="in-middle" alt="loading" />
                            <div id="plot-energy-evo" class="chart" style="height:576px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }*@
    <div class="clearfix">
    </div>


</div>
@section Scripts {

    <script type="text/javascript" src="~/Scripts/bootstrap-periodpicker.js"></script>

    <script type="text/javascript" src="~/Content/Base/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt.js"></script>

    <script src="~/Content/Base/plugins/amcharts/amcharts.js"></script>
    <script src="~/Content/Base/plugins/amcharts/serial.js"></script>
    <script src="~/Content/Base/plugins/amcharts/plugins/export/export.min.js"></script>


    <script>
        Language.CHARTS_DOWNLOAD = '@Language.CHARTS_DOWNLOAD';
        Language.CHARTS_ANNOTATIONS = '@Language.CHARTS_ANNOTATIONS';
        Language.EDIT = '@Language.EDIT';
        Language.SAVE = '@Language.SAVE';
        Language.PRINT = '@Language.PRINT';
        Language.CHARTS_SELECTED_TYPES = '@Language.CHARTS_SELECTED_TYPES';
        Language.CHARTS_SELECTED_PERIODS = '@Language.CHARTS_SELECTED_PERIODS';
    </script>
    <script src="~/Scripts/charts.js"></script>

    @*<script src="~/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>*@
    <script>
        Language.MEAN = '@Language.MEAN';
    </script>
    <!-- END PAGE PLUGINS -->
    <script src="~/Scripts/Home/dashboard.js" type="text/javascript"></script>
    <script src="~/Scripts/Home/dashboard.analysis.js" type="text/javascript"></script>
    <script src="~/Scripts/Home/dashboard.process.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            window.loadings = 0;
            Language.DASHBOARD_KPI_OF = '@Language.DASHBOARD_KPI_OF';
            Language.DASHBOARD_KPI_LOCALS_DONE = '@Language.LOCALS_ACTIVE';
            MonthPicker.init();
            //Dashboard.init();
        });
    </script>
}
