﻿@model DocFlow.ViewModels.TopMenuViewModel

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        @*<li class="dropdown dropdown-language">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                @if (Model.CurrentService.Type == DocFlow.Enums.Services.Energy)
                {
                    <i class='fa fa-bolt font-yellow-lemon '></i>
                    <span class="langname" id="service" data-service-id="1">
                        @Language.ENERGY
                    </span>
                }
                @if (Model.CurrentService.Type == DocFlow.Enums.Services.Water)
                {
                    <i class='fa fa-tint font-blue '></i>
                    <span class="langname" id="service" data-service-id="2">
                        @Language.WATER
                    </span>
                }
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href='@Url.Action("ChangeService", "Home", new { service = 1, returnUrl = this.Request.RawUrl })'>
                        <i class='fa fa-bolt font-yellow-lemon '></i>@Language.ENERGY
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("ChangeService", "Home", new { service = 2, returnUrl = this.Request.RawUrl })'>
                        <i class='fa fa-tint font-blue '></i>@Language.WATER
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown dropdown-extended dropdown-notification ol-pipe"></li>*@

        @*<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon icon-drawer"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <ul class="dropdown-menu-list" data-handle-color="#637283">
                        @foreach (var tmp in Model.Templates)
                        {
                            <li>
                                <a href="@Url.Action("DownloadTemplate", "Home", @tmp)">
                                    <i class=" fa fa-download"></i>
                                    <span class="details">

                                        @tmp.Name
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </li>*@
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        @*@if (User.IsInAction("DASH_NOTIF_PROC"))
        {
            <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="fa fa-folder-open"></i>

                    @if (Model.FileNotifications != null && Model.FileNotifications.Any())
                    {
                        <span class="badge badge-default">
                            @Model.FileNotifications.Count
                        </span>
                    }

                </a>

                <ul class="dropdown-menu " style=" max-width: none; width: inherit; ">
                    <li>
                        <div class="scroller" style="height: 400px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="dropdown-menu-list " data-handle-color="#637283">
                                @if (Model.FileNotifications != null && Model.FileNotifications.Any())
                                {
                                    foreach (var tmp in Model.FileNotifications)
                                    {
                                        <li>
                                            <a href="@tmp.GoToLink" style="white-space:nowrap;">
                                                <i class="@tmp.Icon"></i>
                                                <span class="details">
                                                    @tmp.Description
                                                </span>
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a href="#" style="white-space:nowrap;">
                                            <i class=" fa fa-exclamation"></i>
                                            <span class="details">
                                                @Language.DASHBOARD_WITHOUT_NOTIFICATIONS
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>

                    </li>
                </ul>
            </li>
        }*@

        <li class="dropdown dropdown-extended dropdown-notification ol-pipe" style=" ">
        </li>
        <li class="dropdown dropdown-language">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                @*<img alt="" src="/Content/Metronic/img/flags/@Model.CurrentLanguage.Image">*@
                <span class="langname">
                    @Model.CurrentInstance.Name
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                @foreach (var lang in Model.Instances)
                {
                    <li>
                        <a href='@Url.Action("ChangeInstance", "Home", new { instanceid=lang.Id, returnUrl=this.Request.RawUrl})'>
                            @*<img alt="" src="/Content/Metronic/img/flags/@lang.Image">*@ 
                            @lang.Name
                        </a>
                    </li>
                }
            </ul>
        </li>


      
        <li class="dropdown dropdown-extended dropdown-notification ol-pipe" style=" ">
        </li>
        <li class="dropdown dropdown-language">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                <img alt="" src="/Content/Metronic/img/flags/@Model.CurrentLanguage.Image">
                <span class="langname">
                    @Model.CurrentLanguage.DisplayCode
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                @foreach (var lang in Model.Languages)
                {
                    <li>
                        <a href='@Url.Action("ChangeLanguage", "Home", new { langId=lang.Id, returnUrl=this.Request.RawUrl})'>
                            <img alt="" src="/Content/Metronic/img/flags/@lang.Image"> @lang.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
        <!-- END TODO DROPDOWN -->
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                @if (DocFlow.Core.Extensions.SessionManager.GetUserContext().Image != null)
                {
                    <img alt="" width="29" height="29" class="img-circle" src="/Users/Picture" />    
                }
                else
                {

                    <img alt="" class="img-circle" src="~/Content/Themes/img/avatar3_small.jpg" />
                }
                <span class="username username-hide-on-mobile">
                    @DocFlow.Core.Extensions.SessionManager.GetUserContext().Name
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="@Url.Action("PersonalData", "Users")">
                        <i class="icon-user"></i> @Language.USERS_PERSONALDATA_PAGE_HEADER
                    </a>
                </li>
               
                <li>
                    <a id="logout" href="javascript:;">
                        <i class="icon-key"></i> @Language.LOGOFF
                    </a>
                </li>
            </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        @*<li class="dropdown dropdown-quick-sidebar-toggler">
                <a href="javascript:;" class="dropdown-toggle">
                    <i class="icon-logout"></i>
                </a>
            </li>*@
        <!-- END QUICK SIDEBAR TOGGLER -->
    </ul>

</div>