﻿@model DocFlow.ViewModels.UserProfileEditModel
@{
    ViewBag.Title = @Language.ADMIN_ROLES_PAGE_TITLE;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />

    <!-- END PAGE LEVEL STYLES -->
}
<div class="page-content">
    <h3 class="page-title">
        <i class="icon-user-following" style="font-size:28px;"></i> @Language.ADMIN_ROLES_HEADER <small> @Language.DETAIL</small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cogs"></i>
                <a href="@Url.Action("Index", "Admin")">@Language.MENU_ADMIN</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-user-following"></i>
                <a href="@Url.Action("Roles", "Admin")">@Language.MENU_ADMIN_ROLES</a>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Css.SearchParamsClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="@Url.Action("Index", "Admin")"> <i class="fa fa-cogs"></i> @Language.ADMIN_ROLES_GOTO_HOME </a>
                    </li>
                    @if (User.IsInAction("ADM_USR_ROLE_SEARCH"))
                    {
                        <li>
                            <a href="@Url.Action("Roles", "Admin")"> <i class="icon-user-following"></i> @Language.MENU_ADMIN_ROLES</a>
                        </li>
                    }
                    @if (User.IsInAction("ADM_USR_SEARCH"))
                    {
                        <li>
                            <a href="@Url.Action("Users", "Admin")"> <i class="icon-users"></i> @Language.MENU_ADMIN_USERS </a>
                        </li>
                    }
                    @if (User.IsInAction("ADM_USR_ROLE_NEW"))
                    {
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("New", "Roles")"> <i class="fa fa-plus"></i> @Language.ADMIN_ROLES_GOTO_NEW_ROLE </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-user-following"></i>  @Language.ADMIN_ROLES_HEADER
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" href="#" data-toggle="dropdown">
                        <i class="fa fa-share"></i>
                        <span class="hidden-480">
                            @Language.ACTIONS
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="@Url.Action("Edit", "Roles", new { roleid = @Model.Id })"><i class="fa fa-pencil"></i>  @Language.EDIT </a>
                        </li>
                        @if (!Model.Active)
                        {
                            <li>
                                <a href="@Url.Action("Delete", "Roles", new { roleid=@Model.Id})">
                                    <i class="fa  fa-trash-o"></i> @Language.DELETE
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <form action="#" class="form-horizontal">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.NAME</label>
                                <div class="col-md-9">
                                    <p class="form-control-static">@Model.Name</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.DESCRIPTION</label>
                                <div class="col-md-9">
                                    <p class="form-control-static">@Model.Description</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.ACTIVE</label>
                                <div class="col-md-9">
                                    @if (Model.Active)
                                    {<i class="form-control-static  fa fa-check"></i> }
                                    else
                                    {<i class="form-control-static  fa fa-times"></i> }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-1 control-label">@Language.ACTIONS</label>
                                <div class="col-md-11">
                                    <table class="table dataTable table-bordered table-hover" id="actions_table">
                                        <thead>
                                            <tr>
                                                <th>

                                                </th>
                                                <th>
                                                    @Language.NAME
                                                </th>
                                                <th>
                                                    @Language.DESCRIPTION
                                                </th>
                                                <th>
                                                    @Language.PERMISSION
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var action in Model.ActionsGroups.Where(o => !o.ParentId.HasValue))
                                            {
                                                <tr data-id="@action.Id" data-is-parent="1" data-code="@action.Code" class="parent ">
                                                    <td style="width:50px;">
                                                        <span class=" row-details row-details-open"> </span>
                                                    </td>
                                                    <td class="col-md-5">
                                                        <b> @action.Name</b>
                                                    </td>
                                                    <td class="col-md-5">@action.Description</td>
                                                    <td class="col-md-1">
                                                        @if (action.Permission)
                                                        {
                                                            <i class="fa fa-check"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-times"></i>
                                                        }
                                                    </td>
                                                </tr>


                                                foreach (var child in Model.ActionsGroups.Where(o => o.ParentId == action.Id))
                                                {
                                                    <tr data-id="@child.Id" data-is-parent="0" data-parent-id="@child.ParentId" data-code="@child.Code" class="child child-@child.ParentId">
                                                        <td class="col-md-1"></td>
                                                        <td class="col-md-5">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @child.Name
                                                        </td>
                                                        <td class="col-md-5">@child.Description</td>

                                                        <td class="col-md-1">
                                                            @if (child.Permission)
                                                            {
                                                                <i class="fa fa-check"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-times"></i>
                                                            }
                                                        </td>
                                                    </tr>
                                                }

                                            }

                                        </tbody>


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-users"></i>  @Language.MENU_ADMIN_USERS
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="user_table">
                <thead>
                    <tr>
                        <th>
                            @Language.NAME
                        </th>
                        <th>
                            @Language.LOGIN
                        </th>
                        <th>
                            @Language.EMAIL
                        </th>
                        <th>
                            @Language.ACTIVE
                        </th>
                        <th>
                            @Language.VALID
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>
                                @user.Name
                            </td>
                            <td>
                                @user.Username
                            </td>
                            <td>
                                @user.Email
                            </td>
                            <td>
                                @if (user.Active)
                                {
                                    <i class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times"></i>
                                }
                            </td>
                            <td>
                                @if (user.Valid)
                                {
                                    <i class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times"></i>
                                }

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Administration/admin.roles.details.js"></script>

    <script>
        jQuery(document).ready(function () {
            Roles.init();
            //TableRoles.init();
            //$('#users_table').find('thead tr').each(function () {
            //    this.childNodes[this.childNodes.length - 1].hidden = true;
            //});

            //$('#users_table').find('tbody tr').each(function () {
            //    this.childNodes[this.childNodes.length - 1].hidden = true;
            //});
        });
    </script>
}
